<!-- BEGIN footer -->
footer.footer
	.footer__top-line
		.container.clearfix
			.footer__column.left
				a.logo(href="", title="")
					| <svg class="icon icon-logo"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo"></use></svg>
				.slogan
					| Трикотажные головные уборы от производителя. <br> Оптом и в розницу
			.footer__column.footer__column--middle
				ul.foot-menu
					li.foot-menu__item
						a(href="", title="")= 'О компании'
					li.foot-menu__item
						a(href="", title="")= 'Как заказать'
					li.foot-menu__item
						a(href="", title="")= 'Новости и статьи'
					li.foot-menu__item
						a(href="", title="")= 'Доставка и оплата'
					li.foot-menu__item
						a(href="", title="")= 'Гарантии'
					li.foot-menu__item
						a(href="", title="")= 'Контакты'
				.ref-buttons
					a.ref-button.btn.btn--gray(href="", title="")= 'Сайт для оптовых покупателей'
					a.ref-button.btn.btn--gray(href="", title="")= 'Розничный интернет-магазин'
				.seo-text
					| Мы – официальный интернет-магазин фабрики YSG! <span class="blue-text">16 лет на рынке!</span>
			.footer__column.right
				.phones
					.phones__icon
						| <svg class="icon icon-phone"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-phone"></use></svg>
					.phones__text
						span= '8(499)390-47-29'
						span= '8(926)282-42-06'
					a.btn.btn--blue.btn--small(href="", title="")= 'Заказать звонок'

	.footer__bottom-line
		.container= 'Все права защищены. ysg-shop.ru. © 2015.'

<!-- END footer -->

.c-preloader.preloader
	img(src="images/preloader.gif", alt="")
.layout.c-layout