/* fonts */
@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'), url('../fonts/SegoeUI.woff') format('woff'), url('../fonts/SegoeUI.ttf') format('truetype'), url('../fonts/SegoeUI.svg#SegoeUI') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SegoeUI-Bold.woff') format('woff'), url('../fonts/SegoeUI-Bold.ttf') format('truetype'), url('../fonts/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/SegoeUI-Light.woff') format('woff'), url('../fonts/SegoeUI-Light.ttf') format('truetype'), url('../fonts/SegoeUI-Light.svg#SegoeUI-Light') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/SegoeUI-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/SegoeUI-Semibold.woff') format('woff'), url('../fonts/SegoeUI-Semibold.ttf') format('truetype'), url('../fonts/SegoeUI-Semibold.svg#SegoeUI-Semibold') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/SegoeUI-Semilight.eot?#iefix') format('embedded-opentype'), url('../fonts/SegoeUI-Semilight.woff') format('woff'), url('../fonts/SegoeUI-Semilight.ttf') format('truetype'), url('../fonts/SegoeUI-Semilight.svg#SegoeUI-Semilight') format('svg');
  font-weight: 300;
  font-style: normal;
}
/* font size */
/* colors */
/* container */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
*:focus {
  outline: none;
}
.icon {
  display: inline-block;
  fill: currentColor;
}
/* =======================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */
/*! Flickity v1.1.0
http://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative;
}
.flickity-enabled:focus {
  outline: none;
}
.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.flickity-prev-next-button:hover {
  background: white;
}
.flickity-prev-next-button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 5px #09F;
  box-shadow: 0 0 0 5px #09F;
}
.flickity-prev-next-button:active {
  filter: alpha(opacity=60);
  /* IE8 */
  opacity: 0.6;
}
.flickity-prev-next-button.previous {
  left: 10px;
}
.flickity-prev-next-button.next {
  right: 10px;
}
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}
.flickity-prev-next-button:disabled {
  filter: alpha(opacity=30);
  /* IE8 */
  opacity: 0.3;
  cursor: auto;
}
.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}
.flickity-prev-next-button .arrow {
  fill: #333;
}
/* color & size if no SVG - IE8 and Android 2.3 */
.flickity-prev-next-button.no-svg {
  color: #333;
  font-size: 26px;
}
/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -55px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}
.flickity-rtl .flickity-page-dots {
  direction: rtl;
}
.flickity-page-dots .dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 4px;
  background: #ff33a4;
  border-radius: 50%;
  filter: alpha(opacity=25);
  /* IE8 */
  opacity: 0.25;
  cursor: pointer;
}
.flickity-page-dots .dot.is-selected {
  filter: alpha(opacity=100);
  /* IE8 */
  opacity: 1;
}
/* select2 */
.select2-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  outline: none;
  min-width: 100px;
}
.select2-container .select2-selection--single {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 43px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  border-radius: 5px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 20px;
  padding-right: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 20px;
  padding-left: 30px;
}
.select2-container .select2-selection--multiple {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 43px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select2-container .select2-search--inline {
  float: left;
}
.select2-container .select2-search--inline .select2-search__field {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
}
.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.select2-dropdown {
  background-color: white;
  border: 1px solid #dcdcdc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}
.select2-results {
  display: block;
}
.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}
.select2-results__option {
  padding: 6px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}
.select2-results__option[aria-selected] {
  cursor: pointer;
}
.select2-container--open .select2-dropdown {
  left: 0;
}
.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select2-search--dropdown {
  display: block;
  padding: 4px;
}
.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.select2-search--dropdown.select2-search--hide {
  display: none;
}
.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}
.select2-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 43px;
  line-height: 43px;
}
.select2-container--default .select2-selection--single:focus {
  outline: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #6E6E6E;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 15px;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #6E6E6E;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 43px;
  position: absolute;
  top: 2px;
  right: 0;
  width: 20px;
  font-family: 'icomoon';
  cursor: pointer;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  position: absolute;
  color: #ed1c24;
  top: 50%;
  left: 0;
  margin-top: -7px;
  height: 20px;
  line-height: normal;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b:after {
  top: 3px;
  right: 0;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #ff33a4;
  border-width: 6px;
  margin-left: -6px;
}
.select2-container--open .select2-selection--single .select2-selection__arrow b:after {
  top: -2px;
  right: 0;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #ff33a4;
  border-width: 6px;
  margin-left: -6px;
}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}
.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}
.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}
.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  margin-top: 5px;
  float: left;
}
.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice,
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder {
  float: right;
}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
  outline: 0;
}
.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}
.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}
.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
}
.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}
.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}
.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}
.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white;
}
.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}
.select2-container--classic .select2-selection--single {
  background-color: #f6f6f6;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, #ffffff 50%, #eeeeee 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ffffff), to(#eeeeee));
  background-image: linear-gradient(to bottom, #ffffff 50%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
}
.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}
.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 10px;
}
.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #999;
}
.select2-container--classic .select2-selection--single .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eeeeee), to(#cccccc));
  background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
}
.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto;
}
.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb;
}
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none;
}
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 50%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(50%, #eeeeee));
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
}
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, #ffffff 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eeeeee), to(#ffffff));
  background-image: linear-gradient(to bottom, #eeeeee 50%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
}
.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0;
}
.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0 5px;
}
.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555;
}
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right;
}
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}
.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb;
}
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0;
}
.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
}
.select2-container--classic .select2-dropdown {
  background-color: white;
  border: 1px solid transparent;
}
.select2-container--classic .select2-dropdown--above {
  border-bottom: none;
}
.select2-container--classic .select2-dropdown--below {
  border-top: none;
}
.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}
.select2-container--classic .select2-results__option[role=group] {
  padding: 0;
}
.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey;
}
.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: white;
}
.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}
.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb;
}
.rounded-select .select2-container--default .select2-selection--single {
  height: 39px;
  line-height: 37px;
  border-radius: 19px;
  min-width: 225px;
  font-size: 14px;
}
.rounded-select .select2-selection--single .select2-selection__arrow {
  height: 39px;
}
/*! jQuery UI - v1.11.4 - 2015-09-29
* http://jqueryui.com
* Includes: core.css, slider.css
* Copyright 2015 jQuery Foundation and other contributors; Licensed MIT */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
.ui-helper-clearfix:after {
  clear: both;
}
.ui-helper-clearfix {
  min-height: 0;
  /* support: IE7 */
}
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  /* support: IE8 */
}
.ui-front {
  z-index: 100;
}
/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important;
}
/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}
/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ui-slider {
  position: relative;
  text-align: left;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}
/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  -webkit-filter: inherit;
  filter: inherit;
}
.ui-slider-horizontal {
  height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -0.3em;
  margin-left: -0.6em;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.ui-slider-vertical {
  width: .8em;
  height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
  left: -0.3em;
  margin-left: 0;
  margin-bottom: -0.6em;
}
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.b-inline {
  display: inline-block;
  vertical-align: bottom;
}
.t-inline {
  display: inline-block;
  vertical-align: top;
}
.m-inline {
  display: inline-block;
  vertical-align: middle;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.2;
  font-family: 'SegoeUI', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: 300;
  background-color: #ffffff;
  color: #333333;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
.container {
  width: 1148px;
  margin: 0 auto;
}
.right {
  float: right;
}
.left {
  float: left;
}
.pagewrap {
  min-height: 100%;
  padding-bottom: 21em;
  margin-bottom: -21em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.footer {
  background: #333333 url(../images/fot-pattern.jpg) 0 0 repeat;
  height: 21em;
  padding-top: 3.25em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.footer__bottom-line {
  background-color: rgba(0, 0, 0, 0.1);
  height: 4.125em;
  color: #565656;
  font-size: 0.9375em;
  padding: 1.4em 0;
  margin-top: 1.72em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.footer .logo {
  display: block;
  margin: 0 0 2em 3em;
}
.footer .slogan {
  display: block;
  border-left: none;
  position: relative;
  padding-left: 0;
  margin-left: 0;
  padding-top: 2em;
  color: #696969;
  font-size: 1.06em;
  text-transform: none;
  text-align: center;
}
.footer .slogan:before {
  content: '';
  opacity: 0.32;
  width: 38px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 5em;
}
.footer__column.left {
  width: 235px;
  margin-right: 60px;
}
.footer__column.right {
  width: 200px;
}
.footer__column--middle {
  display: inline-block;
  vertical-align: top;
  width: 600px;
}
.footer .phones .btn {
  color: #ffffff;
}
.footer .phones__icon {
  color: #23b2ff;
  display: inline-block;
  vertical-align: top;
}
.footer .phones__icon svg {
  width: 15px;
  height: 20px;
}
.footer .phones__text {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  font-size: 1.125em;
  color: #ffffff;
  margin-bottom: 2.1em;
}
.footer .phones__text span {
  display: block;
  margin-bottom: 0.5em;
}
.footer .seo-text {
  text-transform: uppercase;
  color: #ffffff;
}
.foot-menu {
  margin: 0 0 2em;
  padding: 0;
  list-style: none;
}
.foot-menu__item {
  padding-left: 1.2em;
  display: inline-block;
  vertical-align: top;
  width: 32%;
  margin-bottom: 0.5em;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.foot-menu__item:before {
  content: '';
  background-color: #23b2ff;
  position: absolute;
  top: 50%;
  left: 0;
  width: 5px;
  height: 5px;
  margin-top: -2px;
  border-radius: 100%;
}
.foot-menu__item a {
  text-decoration: none;
  color: #7e7e7e;
}
.foot-menu__item a:hover {
  color: #1da9f4;
}
.ref-buttons {
  margin-bottom: 2em;
}
.ref-buttons .ref-button {
  border-radius: 23px 0 0 23px;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin-right: -2px;
  padding: 0.5em 1em;
}
.ref-buttons .ref-button:last-child {
  border-radius: 0 23px 23px 0;
}
.ref-buttons .ref-button:hover {
  background-color: #23b2ff;
  border-color: #23b2ff;
}
.ref-buttons--pink {
  display: inline-block;
  vertical-align: middle;
  padding-left: 1.25em;
  margin-left: 1.25em;
  border-left: 1px solid #d7d7d7;
  letter-spacing: -0.75px;
  font-size: 0.94em;
  width: 540px;
  margin-bottom: 0;
}
.ref-buttons--pink .ref-button:last-child {
  border-left: 1px solid #ffffff;
}
.header {
  margin-bottom: 2em;
  position: relative;
  z-index: 3;
}
.header-top {
  height: 74px;
  position: relative;
}
.header-top:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 74px;
  width: 35%;
  background-color: #f8f8f8;
  z-index: 1;
}
.header__main {
  padding-bottom: 4.125em;
  border-bottom: 1px solid #cccccc;
}
.logo {
  color: #1da9f4;
  display: inline-block;
  vertical-align: bottom;
  width: 100px;
  overflow: hidden;
}
.logo svg {
  width: 140px;
  height: 64px;
  margin-left: -41px;
}
.slogan {
  font-weight: 300;
  text-transform: uppercase;
  color: #696a6a;
  display: inline-block;
  vertical-align: bottom;
  padding-left: 1.25em;
  margin-left: 1.25em;
  border-left: 1px solid #d7d7d7;
}
.slogan .blue-text {
  display: block;
}
.slogan--last {
  margin-left: 20px;
  padding-left: 0;
  border-left: 0;
}
.u-actions {
  width: 500px;
  padding-top: 1.75em;
}
.u-actions__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1em;
}
.u-actions__item--first {
  margin-right: 1.5em;
  margin-left: 0;
}
.u-actions__item.right {
  margin-top: 0.5em;
}
.u-actions__icon {
  width: 2em;
  height: 2em;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #cccccc;
  text-align: center;
  padding-top: 0.3em;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.u-actions__icon svg {
  color: #ff33a4;
  width: 14px;
  height: 12px;
}
.u-actions__time {
  padding-top: 0;
  text-align: right;
  padding-right: 0.4em;
}
.u-actions__time svg {
  width: 8px;
  height: 10px;
}
.u-actions__text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5em;
}
.u-actions__text a {
  color: #808080;
  font-size: 1.06em;
  font-weight: 300;
  text-decoration: none;
}
.u-actions__text a:hover {
  color: #ff33a4;
}
.u-actions .work-hours {
  margin-bottom: 0.5em;
  font-size: 0.9375em;
  color: #606060;
}
.u-actions--auto {
  width: auto;
}
.properties {
  margin-top: -2.8em;
}
.properties .container {
  border: 1px solid #cccccc;
  border-bottom: 3px solid #ff33a4;
  background-color: #ffffff;
  border-radius: 5px;
}
.properties__item {
  width: 33%;
  display: inline-block;
  vertical-align: middle;
  margin-left: -2px;
  border-right: 1px solid #cccccc;
  height: 82px;
  padding-top: 0.7em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.properties__item:last-child {
  border: none;
}
.prop-icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em 0 2em;
}
.prop-icon svg {
  color: #ff33a4;
  width: 75px;
  height: 40px;
}
.prop-icon-car svg {
  position: relative;
  top: 0.5em;
}
.prop-icon-reward {
  margin: 0 0 0 2.5em;
}
.prop-icon-reward svg {
  width: 49px;
  height: 60px;
}
.prop-icon-clock {
  margin: 0 0.5em 0 2em;
}
.prop-icon-clock svg {
  height: 60px;
}
.prop-text {
  display: inline-block;
  vertical-align: middle;
  width: 65%;
  color: #3d3d3d;
  font-size: 0.875em;
}
.prop-text__title {
  text-transform: uppercase;
  color: #ff33a4;
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.3em;
}
.blue-text {
  color: #23b2ff;
}
.pink-text {
  color: #ff33a4;
}
.menu {
  display: inline-block;
  vertical-align: middle;
}
.menu__item {
  color: #565656;
  font-size: 0.94em;
  font-weight: 300;
  text-decoration: none;
  margin-right: 1.25em;
  line-height: 74px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.menu__item:hover {
  color: #ff33a4;
}
.contacts {
  background-color: #f8f8f8;
  border-radius: 37px 0 0 37px;
  padding-left: 35px;
  height: 74px;
  width: 500px;
  position: relative;
  z-index: 2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.contacts .phones {
  color: #2f2f2f;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
  padding-top: 1.5em;
}
.contacts .phones .icon-phone {
  width: 18px;
  height: 18px;
  color: #ff33a4;
  position: relative;
  top: 0.2em;
}
.contacts .btn {
  margin-top: 1em;
}
.absolute-link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}
.aside-part {
  float: left;
  width: 305px;
  margin-top: -40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.aside-part--full-title {
  margin-top: 0;
}
.main-part {
  width: 785px;
  float: right;
  margin-bottom: 45px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.main-part--full {
  width: 100%;
  float: none;
}
.btn-square {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  background-color: #1d97d9;
  font-size: 0.875em;
  padding: 0.65em 1em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.main-banner {
  background-color: #7e8182;
  position: relative;
  padding: 45px 50px;
  border-bottom: 3px solid #ff33a4;
  margin-bottom: 2.125em;
  min-height: 330px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
}
.main-banner__img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}
.main-banner__img img {
  height: 100%;
  width: auto;
  max-width: 100%;
}
.main-banner__content {
  position: relative;
  z-index: 3;
  width: 350px;
  color: #ffffff;
}
.main-banner__title {
  font-size: 1.56em;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.main-banner__text {
  font-size: 1.125em;
  margin-bottom: 2.5em;
}
.main-banner--red {
  background-color: #f8f8f8;
}
.main-banner--red .main-banner__title {
  color: #ff33a4;
}
.main-banner--red .b-banner-btn {
  background: url(../images/banner-btn-red.png) 0 0 no-repeat;
  color: #ff33a4;
}
.main-banner--red .main-banner__content {
  color: #292929;
}
.main-banner--delivery {
  font-size: 2.25em;
  font-weight: 300;
}
.main-banner--delivery .main-banner__title {
  font-size: 1em;
  margin: 55px 0 0;
}
.main-banner--delivery .def-text {
  color: #000000;
}
.main-banner--delivery .lvl-2,
.main-banner--delivery .lvl-3 {
  display: block;
}
.main-banner--delivery .lvl-2 {
  margin-left: 70px;
}
.main-banner--delivery .lvl-3 {
  margin-left: 130px;
}
.b-banner-btn {
  color: #ffffff;
  font-size: 0.9375em;
  font-weight: 400;
  text-transform: uppercase;
  background: url(../images/banner-btn.png) 0 0 no-repeat;
  height: 51px;
  padding: 1.1em 0 0 2em;
  position: relative;
  z-index: 3;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.main-title {
  color: #292929;
  font-size: 1.75em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.85px;
  margin-bottom: 1em;
  margin-top: 0;
}
.main-title--to-main-side {
  padding-left: 362px;
}
.sub-title,
.catalog-title {
  color: #3d3d3d;
  font-size: 1.25em;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1em;
  text-decoration: none;
  display: inline-block;
}
.sub-title--blue,
.catalog-title--blue {
  color: #1d97d9;
}
.sub-title--big,
.catalog-title--big {
  font-size: 1.5em;
}
.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog-list .list__item {
  border-top: 1px solid #e5e5e5;
  position: relative;
  padding: 1em 0.5em 1.25em 3.125em;
}
.catalog-list .list__item:last-child {
  border-bottom: 1px solid #e5e5e5;
}
.catalog__link {
  text-decoration: none;
  color: #696969;
  font-size: 1.125em;
}
.catalog__link:hover,
.catalog__link .active {
  color: #ff33a4;
}
.catalog-title {
  font-weight: 600;
}
.catalog-icon {
  color: #ff33a4;
  display: inline-block;
  margin-right: 1.25em;
}
.icon-menu {
  width: 1.125em;
  height: 0.81em;
}
.list-icon {
  position: absolute;
  top: 0;
  left: 0;
  color: #23b2ff;
  text-align: center;
  width: 3.125em;
  padding-top: 1em;
}
.icon-right-arrow {
  width: 0.375em;
  height: 0.625em;
}
.aside-widget {
  margin-bottom: 4.375em;
}
.news-aside__item {
  border-top: 1px solid #e5e5e5;
  padding: 1.37em 4px;
}
.news-aside__item .detail-link {
  color: #1d97d9;
  text-decoration: none;
  border-bottom: 1px dashed;
  float: right;
}
.news-aside__item:last-child {
  border-bottom: 1px solid #e5e5e5;
}
.news-aside__title {
  color: #1d97d9;
  font-size: 1.125em;
  text-decoration: none;
  font-weight: 400;
}
.news-aside__title:hover {
  border-bottom: 1px solid;
}
.news-desc {
  color: #606060;
  font-size: 0.875em;
  margin: 0.75em 0 1.125em;
  letter-spacing: -0.5px;
}
.news-date {
  display: inline-block;
}
.news-date span {
  color: #a4a4a4;
  font-size: 0.875em;
  margin-left: 1em;
  position: relative;
  top: -2px;
}
.date-icon {
  display: inline-block;
  color: #cbcbcb;
}
.icon-calendar {
  width: 1.25em;
  height: 1.25em;
}
.company-desc {
  font-size: 1.125em;
  margin-bottom: 2.35em;
}
.company-desc p {
  letter-spacing: -0.5px;
  margin: 0 0 1em;
}
.slider {
  margin-bottom: 3.35em;
}
.slider__actions {
  padding-right: 4.6em;
}
.slider__head {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1.9em;
}
.slider__item {
  width: 168px;
  margin-right: 35px;
}
.slider__item .good-image {
  height: 168px;
  margin-bottom: 1em;
}
.slider .flickity-prev-next-button {
  width: 2.125em;
  height: 2.125em;
  background-color: #ebf2f8;
  border-radius: 0;
  top: -3.65em;
}
.slider .flickity-prev-next-button svg {
  width: 30%;
  height: 30%;
  left: 50%;
  top: 50%;
  margin-top: -15%;
  margin-left: -15%;
}
.slider .flickity-prev-next-button .arrow {
  fill: #1d97d9;
}
.slider .flickity-prev-next-button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.slider .flickity-prev-next-button.next {
  right: 0;
}
.slider .flickity-prev-next-button.previous {
  left: auto;
  right: 2.3em;
}
.slider--full {
  width: 1050px;
  margin: 0 auto;
}
.slider--full .slider__item {
  width: 100%;
}
.slider--full .flickity-prev-next-button {
  top: 50%;
  background-color: transparent;
  width: 28px;
  height: 28px;
  margin-top: -10px;
}
.slider--full .flickity-prev-next-button svg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: 0;
  margin-top: 0;
}
.slider--full .flickity-prev-next-button .arrow {
  fill: #acacab;
}
.slider--full .flickity-prev-next-button:hover .arrow {
  fill: #1d97d9;
}
.slider--full .flickity-prev-next-button.previous {
  left: -50px;
  right: auto;
}
.slider--full .flickity-prev-next-button.next {
  right: -40px;
}
/* safari hack */
_::-moz-svg-foreign-content,
:root .flickity-enabled.is-draggable .flickity-viewport {
  padding-bottom: 20px;
}
.good-image {
  overflow: hidden;
  position: relative;
}
.good-image img {
  width: 100%;
  height: auto;
}
.good-title {
  color: #1d97d9;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: 400;
  display: block;
  text-align: center;
  padding-bottom: 1em;
  position: relative;
  letter-spacing: -0.5px;
  margin-bottom: 1em;
}
.good-title:after {
  content: '';
  width: 44px;
  height: 1px;
  background-color: #1d97d9;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -22px;
}
.good-title:hover {
  color: #ff33a4;
}
.good-title:hover:after {
  background-color: #ff33a4;
}
.good-price {
  text-align: center;
  color: #676767;
  letter-spacing: -0.5px;
  margin-bottom: 1em;
  font-weight: 100;
  font-size: 1.56em;
}
.good-price--null {
  font-size: 0.75em;
  font-weight: 300;
}
.btn {
  border: 2px solid #ff33a4;
  height: 2.5em;
  color: #363636;
  font-size: 1.125em;
  display: inline-block;
  margin: 0 auto;
  text-decoration: none;
  padding: 0.5em 1.5em;
  text-align: center;
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 23px;
}
.btn--full {
  width: 100%;
}
.btn:hover {
  background-color: #ff33a4;
  color: #ffffff;
}
.btn--blue {
  border-color: #1d97d9;
}
.btn--blue:hover {
  background-color: #1d97d9;
}
.btn--full-blue {
  color: #ffffff;
  background-color: #23b2ff;
  border-color: #23b2ff;
}
.btn--full-blue:hover {
  background-color: #56c4ff;
  border-color: #56c4ff;
}
.btn--full-pink {
  color: #ffffff;
  background-color: #ff33a4;
  border-color: #ff33a4;
}
.btn--full-pink:hover {
  background-color: #ff66bb;
  border-color: #ff66bb;
}
.btn--full-gray {
  color: #292929;
  border-color: #c2c2c2;
  opacity: 0.5;
}
.btn--full-gray:hover {
  color: #ffffff;
  background-color: #c2c2c2;
  opacity: 1;
}
.btn--rounded {
  width: 2.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 100%;
}
.btn--small {
  font-size: 1em;
}
.btn--gray {
  border-color: #7e7e7e;
  color: #7e7e7e;
}
input.btn {
  padding-top: 0.3em;
}
.gray-block {
  background: url(../images/pattern.jpg) 0 0 repeat;
}
.color {
  display: none;
}
.clients-wrap {
  display: inline-block;
  vertical-align: middle;
  height: 80px;
  margin: 0 1em;
}
.clients-wrap img {
  width: 100%;
}
.clients-wrap:hover .color {
  display: block;
}
.clients-wrap:hover .gray-scale {
  display: none;
}
.clients {
  padding: 3em 0;
}
.clients .slider__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.clients__title {
  color: #3d3d3d;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 1.5em;
}
.cart-icon {
  position: relative;
}
.cart-icon .cart-goods-count {
  position: absolute;
  top: -8px;
  left: -8px;
  background-color: #ff33a4;
  color: #ffffff;
  font-size: 0.625em;
  text-align: center;
  padding: 4px;
  min-width: 20px;
  height: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 100%;
}
.collections__item {
  width: 230px;
  margin-right: 47px;
  margin-bottom: 0.85em;
  float: left;
  padding-bottom: 1.25em;
  border-bottom: 1px solid #dfdfdf;
}
.collections__item:nth-child(3n) {
  margin-right: 0;
}
.collections__link {
  color: #000000;
  font-size: 0.875em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
  letter-spacing: -0.5px;
  line-height: 1.4;
}
.collections__link:hover {
  color: #ff33a4;
}
.collections .good-image {
  height: 230px;
  margin-bottom: 20px;
}
.guarantee__item {
  width: 47%;
  margin-right: 6%;
  float: left;
  margin-bottom: 1.75em;
}
.guarantee__item:nth-child(2n) {
  margin-right: 0;
}
.guarantee__icon {
  color: #ff33a4;
  width: 38px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.guarantee__icon .icon-reward2 {
  width: 100%;
  height: 52px;
}
.guarantee__text {
  color: #787676;
  font-size: 1.125em;
  display: inline-block;
  vertical-align: middle;
  width: 85%;
  letter-spacing: -0.5px;
}
.justify-text {
  text-align: justify;
}
hr {
  margin: 45px 0;
  border: none;
  border-bottom: 1px dashed #cfcfcf;
}
hr.pink {
  border-color: #ff33a4;
}
.form-input {
  width: 100%;
  height: 43px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  font-size: 0.94em;
  color: #6e6e6e;
  padding: 0 1.2em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
}
.form-input.textarea {
  height: 125px;
  resize: none;
  padding: 1.2em;
}
.form-input:disabled {
  background: url(../images/pattern.jpg) 0 0 repeat;
}
.form-input[type="password"]:disabled {
  color: #ff33a4;
}
.form-sub-title {
  color: #000000;
  font-size: 0.9375em;
  text-transform: uppercase;
  margin-bottom: 2.5em;
}
.form-label {
  color: #000000;
  font-size: 1.125em;
  font-weight: 400;
  margin-bottom: 15px;
  display: inline-block;
}
.form-label--block {
  display: block;
  margin-bottom: 30px;
}
.input-line {
  position: relative;
  width: 46%;
  margin-right: 7%;
  margin-bottom: 40px;
}
.input-line:nth-child(2n) {
  margin-right: 0;
}
.input-line--bordered {
  padding-bottom: 25px;
  border-bottom: 1px solid #e0e0e0;
}
.advantages__title {
  color: #000000;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 2em;
}
.advantages__icon {
  color: #ff33a4;
  width: 35px;
  height: 31px;
  margin-right: 1em;
}
.advantages__icon svg {
  width: 100%;
  height: 31px;
}
.advantages__text {
  color: #4e4e4e;
  width: 80%;
  letter-spacing: -1px;
}
.advantages__item {
  width: 46%;
  margin-right: 7%;
  margin-bottom: 1.2em;
}
.advantages__item:nth-child(2n+1) {
  margin-right: 0;
}
.articles-wrap {
  position: relative;
}
.articles-wrap:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 325px;
  width: 1px;
  height: 90%;
  background-color: #e5e5e5;
}
.articles-wrap .news-aside {
  width: 270px;
}
.articles-wrap .news-aside__item:nth-child(2) {
  border-top: none;
  padding-top: 0.5em;
}
.articles-wrap .news-aside--article-mod {
  width: 400px;
}
.news-content {
  width: 270px;
}
.news-image {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-right: 15px;
}
.news-image img {
  width: 100%;
  height: auto;
}
.pagination {
  text-align: right;
  margin: 3em 0 0;
}
.pagination__link {
  font-size: 0.875em;
  text-align: center;
  width: 2.43em;
  height: 2.43em;
  padding-top: 0.7em;
  color: #868686;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.pagination__link.active,
.pagination__link.next,
.pagination__link.prev,
.pagination__link:hover {
  background-color: #ebf2f8;
  color: #ff33a4;
}
.pagination__link.next {
  margin-left: 5px;
}
.pagination__link.prev {
  margin-right: 5px;
}
.pagination svg {
  width: 7px;
  height: 12px;
  color: #ff33a4;
  margin-left: 3px;
}
.column {
  width: 330px;
}
.column-wide {
  width: 465px;
}
.column-thin {
  width: 200px;
}
.options {
  margin-bottom: -25px;
}
.options__item {
  margin-bottom: 25px;
}
.options__text {
  width: 85%;
  font-size: 1.125em;
}
.options__icon {
  color: #ff33a4;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}
.options__icon svg {
  width: 100%;
  height: 1em;
}
.range-wrap {
  width: 100%;
  position: relative;
  padding-bottom: 30px;
}
.range-wrap .ui-slider {
  height: 9px;
  background-color: #dcdcdc;
  border-radius: 5px;
}
.range-wrap .ui-slider .ui-slider-range {
  height: 9px;
  border-radius: 5px;
  background-color: #ff33a4;
}
.range-wrap .ui-slider .ui-slider-handle {
  width: 19px;
  height: 19px;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.34902) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.34902) 0px 1px 2px;
  border-radius: 100%;
  background-color: #ffffff;
  cursor: pointer;
}
.range-input-wrap {
  position: absolute;
  bottom: 0;
  z-index: 10;
  margin-left: -35px;
  color: #000000;
  font-weight: 300;
  font-size: 0.875em;
  width: 90px;
}
.range-from,
.range-to {
  display: inline-block;
  background-color: transparent;
  border: none;
  width: 70px;
  color: #d52a89;
  font-weight: 400;
}
.filter-block {
  margin-bottom: 35px;
}
.filter-block__title {
  color: #000000;
  font-size: 1.125em;
  font-weight: 300;
  margin-bottom: 1em;
}
.filter-block .checkbox-wrap {
  margin-right: 24px;
}
.filter-block .checkbox-wrap:last-child {
  margin-right: 0;
}
.filter-block .checkbox-wrap--color {
  margin-right: 10px;
  margin-bottom: 10px;
}
.filter-block .select2-container {
  width: 100% !important;
}
.filter {
  border-bottom: 1px solid #dbdbdb;
}
.filter .btn {
  font-size: 1em;
}
.catalog-list .good {
  width: 168px;
  margin-right: 33px;
  margin-bottom: 45px;
}
.catalog-list .good:nth-child(4n) {
  margin-right: 0;
}
.catalog-list .good-image {
  margin-bottom: 16px;
}
.checkbox-wrap {
  position: relative;
}
.checkbox-wrap--color .checkbox-label {
  width: 53px;
  height: 53px;
  display: block;
  border-radius: 100%;
}
.checkbox-wrap--color .checkbox:checked + .checkbox-label {
  border: 1px solid;
  width: 51px;
  height: 51px;
}
.checkbox-wrap--color-small .checkbox-label {
  width: 41px;
  height: 41px;
  display: block;
  border-radius: 100%;
}
.checkbox-wrap--color-small .checkbox:checked + .checkbox-label {
  border: 1px solid;
  width: 39px;
  height: 39px;
}
.checkbox-wrap--single {
  margin-bottom: 17px;
}
.checkbox {
  display: none;
}
.checkbox__text {
  display: inline-block;
  vertical-align: middle;
  max-width: 80%;
}
.checkbox-label {
  position: relative;
  display: block;
  cursor: pointer;
  font-size: 1.125em;
  color: #000000;
  letter-spacing: -0.5px;
}
.checkbox-label .checkbox-icon {
  background-color: #dbdbdb;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  position: relative;
  top: -2px;
  padding-top: 2px;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.checkbox-label .checkbox-icon svg {
  width: 12px;
  height: 9px;
}
.checkbox:checked + .checkbox-label .checkbox-icon {
  background-color: #ff33a4;
}
.checkbox--blue:checked + .checkbox-label .checkbox-icon {
  background-color: #23b2ff;
}
.sort {
  padding: 2em 0;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 1.8em;
}
.sort .pagination {
  margin: 0;
}
.stock {
  color: #000000;
  font-size: 1.125em;
  font-weight: 300;
}
.stock__icon {
  color: #23b2ff;
  width: 18px;
  height: 15px;
  margin-right: 10px;
}
.stock__icon svg {
  width: 100%;
  height: 15px;
}
.stock__text {
  width: 80%;
}
.rounded-select .select2-container {
  width: 100% !important;
}
.catalog-detail .rounded-select .select2-container--default .select2-selection--single {
  min-width: 0;
  width: 150px;
}
.catalog-detail .column-thin {
  margin-bottom: 20px;
}
.catalog-detail .column-wide {
  width: 540px;
}
.catalog-detail .select2-container {
  width: 150px !important;
}
.catalog-detail .checkbox-wrap {
  margin-right: 10px;
  margin-bottom: 10px;
}
.catalog-detail .btn {
  font-size: 1em;
  margin-left: -1em;
}
.catalog-detail .rounded-select {
  margin-bottom: 20px;
}
.catalog-detail .checkbox-label {
  font-size: 1em;
}
.catalog-detail .filter-block {
  margin-bottom: 25px;
}
.catalog-detail .properties {
  margin-top: 0;
}
.catalog-detail .properties__item {
  width: 50%;
  color: #353535;
  font-size: 1.125em;
  border: none;
  height: auto;
  float: left;
}
.catalog-detail .properties__item img {
  display: inline-block;
  vertical-align: middle;
  max-width: 42px;
  margin: 0 3px;
}
.catalog-detail .properties__type {
  color: #000000;
  font-weight: 400;
  margin-right: 8px;
}
.detail-info {
  width: 230px;
}
.detail-info .price {
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 40px;
}
.detail-info .count {
  color: #3a3a3a;
  font-size: 1.125em;
  font-weight: 300;
  margin-bottom: 45px;
}
.detail-info .counter {
  margin-top: 25px;
}
.detail-info .delivery__title {
  color: #000000;
  font-size: 1.125em;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.detail-info .delivery__icon {
  color: #ff33a4;
  width: 17px;
  height: 17px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
}
.detail-info .delivery__icon svg {
  width: 17px;
  height: 17px;
}
.detail-info .delivery__text {
  color: #646464;
  max-width: 85%;
  display: inline-block;
  vertical-align: middle;
}
.detail-info .delivery__item {
  margin-bottom: 1em;
}
.counter {
  color: #ff33a4;
}
.counter__btn {
  width: 32px;
  height: 32px;
  line-height: 24px;
  background-color: #eeeeee;
  cursor: pointer;
  float: left;
  font-size: 31px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.counter__text {
  border: 1px solid #eeeeee;
  width: 30px;
  text-align: center;
  float: left;
  font-size: 1.125em;
}
.detail-slider {
  width: 226px;
  margin-right: 40px;
}
.detail-slider .big-image {
  height: 325px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 5px;
}
.detail-slider .big-image img {
  width: 100%;
  height: auto;
}
.detail-slider .thumbs-image {
  width: 42px;
  height: 42px;
  overflow: hidden;
  margin-right: 7px;
}
.detail-slider .thumbs-image img {
  width: 100%;
  height: auto;
}
.detail-slider .flickity-enabled {
  width: 190px;
  margin-left: 18px;
}
.detail-slider .flickity-prev-next-button {
  background: none;
  width: 7px;
  height: 13px;
}
.detail-slider .flickity-prev-next-button svg {
  width: 100%;
  height: 100%;
}
.detail-slider .flickity-prev-next-button .arrow {
  fill: #ff33a4;
}
.detail-slider .flickity-prev-next-button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.detail-slider .flickity-prev-next-button.previous {
  left: -19px;
}
.detail-slider .flickity-prev-next-button.next {
  right: -15px;
}
.suggestions {
  margin-top: 35px;
}
.remove-good {
  width: 21px;
  height: 21px;
  color: #ff33a4;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 5px;
  padding-left: 20px;
  text-decoration: none;
  display: block;
}
.remove-good svg {
  width: 23px;
  height: 21px;
}
.bascket__head {
  padding-top: 40px;
  padding-bottom: 35px;
  border-top: 1px solid #e5e5e5;
  color: #292929;
  font-size: 0.875em;
  font-weight: 500;
  text-transform: uppercase;
}
.bascket__cell {
  display: inline-block;
  vertical-align: top;
}
.bascket__cell:first-child {
  width: 205px;
  margin-right: 20px;
}
.bascket__cell:nth-child(2) {
  width: 125px;
  margin-right: 20px;
}
.bascket__cell:nth-child(3),
.bascket__cell:nth-child(4) {
  width: 60px;
  margin-right: 45px;
  text-align: center;
}
.bascket__cell:nth-child(5) {
  width: 70px;
  margin-right: 45px;
  text-align: center;
}
.bascket__cell:last-child {
  width: 65px;
  text-align: center;
}
.bascket .good-image {
  width: 55px;
  height: 55px;
  background-color: #f2f2f2;
  margin-right: 5%;
  border-radius: 100%;
}
.bascket .good-info {
  width: 65%;
  color: #292929;
  font-size: 0.9375em;
  line-height: 1.6;
}
.bascket .color {
  display: block;
  margin-bottom: 10px;
}
.bascket .color__icon {
  width: 19px;
  height: 19px;
  border: 1px solid;
  margin-right: 8px;
  border-radius: 100%;
}
.bascket .good-price,
.bascket .good-count {
  color: #292929;
  font-size: 0.9375em;
  margin-bottom: 10px;
  line-height: 23px;
  margin-top: 2px;
}
.bascket hr {
  margin: 25px 0 35px;
}
.bascket .result {
  font-size: 1.125em;
  width: 220px;
  margin-top: 0.65em;
}
.bascket__actions {
  margin-bottom: 1.9em;
}
.bascket__detail {
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
  padding: 2.2em;
  display: none;
}
.bascket__detail .input-line {
  width: 100%;
  margin-bottom: 1.5em;
}
.bascket__detail .input-line .select2-container {
  width: 100% !important;
}
.bascket__detail .checkbox-wrap {
  margin-right: 1.5em;
}
.bascket__detail .checkbox-wrap--single {
  margin-right: 0;
}
.bascket__detail .checkbox-label {
  font-size: 0.9375em;
  color: #6e6e6e;
}
.bascket__detail .btn {
  margin-left: 1.5em;
}
.slide-block {
  width: 100%;
  min-width: 330px;
  background: url(../images/hint-arrow.png) 0 0 no-repeat;
  max-height: 0;
  -webkit-transition: max-height 0.15s ease-out;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}
.slide-block__content {
  background-color: #ffffff;
  padding: 25px 25px 15px 30px;
  border: 1px solid #e0e0e0;
  border-top: none;
  -webkit-box-shadow: 1.5px 1.4px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1.5px 1.4px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
  border-radius: 5px;
  border-top-left-radius: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.slide-block--wide {
  width: 435px;
}
.active .slide-block {
  max-height: 9000px;
  -webkit-transition: max-height 1s ease-in;
  transition: max-height 1s ease-in;
  padding-top: 30px;
}
.lk__detail {
  background: url(../images/pattern.jpg) 0 0 repeat;
  padding: 30px;
  border-top: 1px solid #e5e5e5;
}
.lk__detail hr {
  margin-top: 0;
  margin-bottom: 35px;
}
.lk__detail .select2-container {
  width: 100% !important;
}
.lk-actions {
  margin-bottom: 35px;
}
.lk-actions__text {
  font-size: 1.125em;
  color: #000000;
}
.lk-actions__link {
  color: #ff33a4;
  text-decoration: none;
  margin-left: 8px;
}
.lk-actions__link:hover {
  border-bottom: 1px solid;
}
.lk-actions__block {
  margin-left: 35px;
}
.lk-icon {
  width: 41px;
  height: 41px;
  background-color: #ff33a4;
  text-align: center;
  color: #ffffff;
  padding-top: 0.55em;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.lk-icon svg {
  width: 25px;
  height: 18px;
}
.lk-icon .icon-money2 {
  margin-left: -5px;
}
.lk-edit-link {
  color: #6d6d6d;
  font-size: 0.9375em;
  text-decoration: none;
}
.lk-edit-link__text:hover {
  color: #ff33a4;
  border-bottom: 1px solid;
}
.lk-edit-link__icon {
  width: 13px;
  height: 13px;
  color: #ff33a4;
  margin-right: 5px;
}
.lk-edit-link__icon svg {
  width: 13px;
  height: 13px;
  margin-top: 5px;
}
.full-table {
  width: 100%;
  border: 1px solid #e5e5e5;
  margin-top: 20px;
}
.full-table .center {
  text-align: center;
}
.full-table th {
  color: #292929;
  font-size: 0.875em;
  font-weight: 400;
  text-transform: uppercase;
  padding: 20px 15px 20px 50px;
  background-color: #f8f8f8;
  text-align: left;
}
.full-table th:last-child {
  text-align: right;
  padding-right: 50px;
}
.full-table td {
  padding: 10px 15px 10px 50px;
}
.full-table td:last-child {
  text-align: right;
  padding-right: 50px;
}
.full-table tbody tr:first-child td {
  padding-top: 30px;
}
.full-table tbody tr:last-child td {
  padding-bottom: 30px;
}
.full-table .date,
.full-table .debt {
  width: 170px;
}
.full-table .order {
  width: 215px;
}
.full-table .debt.active,
.full-table .order.active {
  color: #ff33a4;
}
.full-table--dop {
  margin-top: 40px;
}
.lk-balance .full-table {
  margin-top: 65px;
}
.lk-orders tr a:not(.remove-good) {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #333333;
}
.lk-orders tr a:not(.remove-good):hover {
  color: #ff33a4;
}
.lk-orders td {
  vertical-align: top;
  padding: 10px 15px 10px 30px;
}
.lk-orders td:last-child {
  padding-right: 30px;
  padding-left: 0;
}
.lk-orders th {
  padding: 20px 5px 20px 30px;
}
.lk-orders th:last-child {
  padding-right: 30px;
  padding-left: 0;
}
.lk-orders .count {
  width: 95px;
}
.lk-orders .date {
  width: 80px;
}
.lk-orders .number {
  width: 55px;
}
.lk-orders .summ,
.lk-orders .price {
  width: 75px;
}
.lk-orders .status {
  width: 130px;
}
.lk-orders .cancel-order {
  width: 30px;
  margin: 0 auto;
}
.lk-orders .remove-good {
  padding-left: 0;
}
.lk-orders .good-image {
  width: 55px;
  height: 55px;
  overflow: hidden;
  border-radius: 100%;
}
.lk-orders .good-image img {
  width: 100%;
}
.lk-orders .good-info {
  width: 65%;
  margin-left: 10px;
  line-height: 1.8;
}
.lk-orders .good-cell {
  width: 200px;
}
.contacts-page hr {
  margin: 30px 0;
}
.contacts-form {
  margin-top: 35px;
}
.contacts-form .input-line {
  margin-bottom: 20px;
}
.contacts-form .form-input.textarea {
  height: 105px;
}
.contacts-column {
  display: inline-block;
  vertical-align: top;
  width: 320px;
}
.contacts-column.wide {
  margin-left: 20px;
  width: 440px;
}
.contacts-column.wide--first {
  margin-left: 0;
  margin-right: 20px;
}
.contacts-line {
  margin-bottom: 20px;
}
.contacts-icon {
  color: #ff33a4;
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 21px;
}
.contacts-icon svg {
  width: 100%;
  height: 21px;
}
.contacts-icon svg.icon-email {
  width: 23px;
  height: 15px;
  margin-top: 4px;
}
.form-error {
  color: #f2093a;
  font-size: 14px;
  margin-top: 5px;
}
.contacts-text {
  color: #585858;
  font-size: 1.125em;
  font-weight: 100;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: -1px;
  width: 75%;
  margin-left: 10px;
}
.landing-banner {
  position: relative;
  z-index: 1;
  margin-top: -4.55em;
  padding-top: 4.55em;
}
.landing-banner .editable-text {
  color: #ffffff;
  text-align: center;
  padding: 0 4.5em;
}
.landing-content {
  position: relative;
  z-index: 3;
}
.landing-title {
  color: #ffffff;
  font-size: 1.75em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.6;
  margin-bottom: 1.3em;
}
.landing-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  max-height: 658px;
  overflow: hidden;
}
.landing-image img {
  width: 100%;
  height: auto;
}
.achievements {
  margin-bottom: 70px;
  text-align: center;
}
.achievements__item {
  display: inline-block;
  vertical-align: top;
  width: 230px;
  margin: 0 15px;
}
.achievements__icon {
  width: 75px;
  height: 73px;
  color: #ff33a4;
  margin: 0 auto 10px;
}
.achievements__icon svg {
  width: 80px;
  height: 73px;
  margin-left: -5px;
}
.achievements__text {
  color: #6e6e6e;
  font-size: 1.125em;
  font-weight: 300;
}
.popular__title {
  color: #000000;
  font-size: 2.25em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
.popular__subtitle {
  color: #656565;
  font-size: 1.25em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 10px;
}
.popular .slider {
  width: 1012px;
  margin-left: 68px;
  padding-bottom: 55px;
}
.popular .slider__item {
  width: 215px;
  margin-right: 50px;
}
.popular .slider .flickity-prev-next-button {
  top: 140px;
  background-color: transparent;
  width: 50px;
  height: 64px;
}
.popular .slider .flickity-prev-next-button.next {
  right: -68px;
}
.popular .slider .flickity-prev-next-button.previous {
  right: auto;
  left: -68px;
}
.popular .slider .flickity-prev-next-button svg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
}
.popular .slider .flickity-prev-next-button svg .arrow {
  fill: #ff33a4;
}
.popular .good-image {
  height: 275px;
}
.seo-block {
  margin-bottom: 45px;
}
.seo-block .container {
  width: 1012px;
}
.seo-block .contacts-line {
  display: inline-block;
  vertical-align: top;
  width: 450px;
}
.seo-block .contacts-line--left {
  margin-right: 105px;
}
.seo-block .contacts-text {
  width: 88%;
}
.seo-block .popular__title {
  margin-bottom: 55px;
}
.landing-columns {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 70px;
}
.landing-columns .column {
  width: 402px;
  border-radius: 5px;
  background-color: #23b2ff;
  color: #ffffff;
  padding: 35px 20px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.landing-columns .column__title {
  font-size: 1.625em;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}
.landing-columns .column:after {
  content: '';
  position: absolute;
  top: 100%;
  right: 10px;
  width: 480px;
  height: 55px;
  background: url(../images/landing-shadow-left.png) bottom left no-repeat;
}
.landing-columns .column--last {
  background-color: #ff33a4;
  margin-left: 90px;
}
.landing-columns .column--last .btn:hover {
  background-color: #23b2ff;
  border-color: #23b2ff;
}
.landing-columns .column--last:after {
  left: 10px;
  right: auto;
  width: 480px;
  height: 55px;
  background: url(../images/landing-shadow-right.png) bottom right no-repeat;
}
.landing-columns .btn {
  border-color: #ffffff;
  color: #ffffff;
  background-color: transparent;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  height: 55px;
  padding-top: 1.3em;
  margin-bottom: 35px;
  border-radius: 55px;
}
.landing-columns .btn:hover {
  background-color: #ff33a4;
  border-color: #ff33a4;
}
.landing-columns .contacts-line {
  margin-left: 30px;
}
.landing-columns .contacts-text {
  color: #ffffff;
}
.landing-columns .contacts-icon {
  color: #ffffff;
}
.preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  margin: -32px 0 0 -30px;
  display: none;
}
.layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 99;
  display: none;
}
.editable-text {
  font-size: 1.125em;
}
.editable-text p {
  margin: 0.65em 0 1em;
}
.editable-text a {
  color: #1d97d9;
  text-decoration: none;
}
.editable-text a:hover {
  border-bottom: 1px solid;
}
.editable-text h4 {
  color: #000000;
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 0;
}
.editable-text img {
  width: 200px;
  height: auto;
  float: left;
  margin: 0 1.8em 1em 0;
}
/* плавное изменение прозрачности  placeholder-а при фокусе */
::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #6e6e6e;
  font-size: 1em;
}
::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #6e6e6e;
  font-size: 1em;
}
:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #6e6e6e;
  font-size: 1em;
}
:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #6e6e6e;
  font-size: 1em;
}
:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
