html, body{
	height: 100%;
}

body{
	line-height: 1.2;
	font-family: @font;
	font-size: @base;
	font-weight: 300;
	background-color: @white;
	color: @base-color;
}

fieldset{
	border: none;
	padding: 0;
	margin: 0;
}

.container{
	width: @container;
	margin: 0 auto;
}

.right{
	float: right;
}

.left{
	float: left;
}

.pagewrap{
	min-height: 100%;
	padding-bottom: @footer-height;
	margin-bottom: -@footer-height;

	.box-sizing;
}

.footer {
	background: @base-color url(../images/fot-pattern.jpg) 0 0 repeat;
	height: @footer-height;
	padding-top: 3.25em;

	.box-sizing;

	&__bottom-line{
		background-color: rgba(0,0,0,0.1);
		height: 4.125em;
		color: @gray12;
		font-size: 0.9375em;
		padding: 1.4em 0;
	    margin-top: 1.72em;

		.box-sizing;
	}

	.logo{
		display: block;
		margin: 0 0 2em 3em;
	}

	.slogan{
		display: block;
		border-left: none;
		position: relative;
		padding-left: 0;
		margin-left: 0;
		padding-top: 2em;
		color: @gray3;
		font-size: 1.06em;
		text-transform: none;
		text-align: center;

		&:before{
			content: '';
			opacity: 0.32;
			width: 38px;
			height: 1px;
			background-color: @white;
			position: absolute;
			top: 0;
			left: 5em;
		}
	}

	&__column.left{
		width: 235px;
		margin-right: 60px;
	}

	&__column.right{
		width: 200px;
	}

	&__column--middle{
		display: inline-block;
		vertical-align: top;
		width: 600px;
	}

	.phones .btn{
		color: @white;
	}

	.phones__icon{
		color: @blue;

		svg{
			width: 15px;
			height: 20px;
		}
		display: inline-block;
		vertical-align: top;
	}

	.phones__text{
		display: inline-block;
		vertical-align: top;
		width: 80%;
		font-size: 1.125em;
		color: @white;
		margin-bottom: 2.1em;

		span{
			display: block;
			margin-bottom: 0.5em;
		}
	}

	.seo-text{
		text-transform: uppercase;
		color: @white;
	}
}

.foot-menu{
	margin: 0 0 2em;
	padding: 0;
	list-style: none;

	&__item{
		padding-left: 1.2em;
		display: inline-block;
		vertical-align: top;
		width:32%;
		margin-bottom: 0.5em;
		position: relative;

		.box-sizing;

		&:before{
			content: '';
			background-color: @blue;
			position: absolute;
			top: 50%;
			left: 0;
			width: 5px;
			height: 5px;
			margin-top: -2px;

			.border-radius(100%;)
		}

		a{
			text-decoration: none;
			color: @gray17;

			&:hover{
				color: @blue3;
			}
		}

	}
}

.ref-buttons{
	margin-bottom: 2em;

	.ref-button{
		border-radius: 23px 0 0 23px;
		display: inline-block;
		vertical-align: top;
		width: 50%;
		margin-right: -2px;
    	padding: 0.5em 1em;

		&:last-child{
			border-radius: 0 23px 23px 0;
		}

		&:hover{
			background-color: @blue;
			border-color: @blue;
		}
	}

	&--pink{
		display: inline-block;
		vertical-align: middle;
		padding-left: 1.25em;
		margin-left: 1.25em;
		border-left: 1px solid @gray14;
		letter-spacing: -0.75px;
		font-size: 0.94em;
		width: 540px;
		margin-bottom: 0;

		.ref-button:last-child{
			border-left: 1px solid @white;
		}
	}
}

.header{
	margin-bottom: 2em;
	position: relative;
	z-index: 3;
}

.header-top{
	height: 74px;
	position: relative;

	&:after{
	    content: '';
	    position: absolute;
	    top: 0;
	    right: 0;
	    height: 74px;
	    width: 35%;
	    background-color: @pink2;
	    z-index: 1;
	}
}

.header__main{
	padding-bottom: 4.125em;
	border-bottom: 1px solid @gray15;
}

.logo{
	color: @blue3;
	display: inline-block;
    vertical-align: bottom;
    width: 100px;
    overflow: hidden;

	svg{
		width: 140px;
	    height: 64px;
	    margin-left: -41px;
	}
}

.slogan{
	font-weight: 300;
	text-transform: uppercase;
	color: @gray13;
	display: inline-block;
	vertical-align: bottom;
	padding-left: 1.25em;
	margin-left: 1.25em;
	border-left: 1px solid @gray14;

	.blue-text{
		display: block;
	}

	&--last{
		margin-left: 20px;
		padding-left: 0;
		border-left: 0;
	}
}

.u-actions{
	width: 500px;
	padding-top: 1.75em;

	&__item{
		display: inline-block;
    	vertical-align: middle;
    	margin-left: 1em;

    	&--first{
    		margin-right:1.5em;
    		margin-left: 0;
    	}

    	&.right{
    		margin-top: 0.5em;
    	}
	}

	&__icon{
		width: 2em;
		height: 2em;
		display: inline-block;
		vertical-align: middle;
		border: 1px solid @gray15;
		text-align: center;
		padding-top: 0.3em;

		.border-radius(100%);
		.box-sizing;

		svg{
			color: @pink;
			width: 14px;
			height: 12px;
		}
	}

	&__time{
		padding-top: 0;
	    text-align: right;
	    padding-right: 0.4em;

	    svg{
	    	width: 8px;
    		height: 10px;
	    }
	}

	&__text{
		display: inline-block;
		vertical-align: middle;
		margin-left: 0.5em;

		a{
			color: @gray16;
			font-size: 1.06em;
			font-weight: 300;
			text-decoration: none;

			&:hover{
				color: @pink;
			}
		}
	}

	.work-hours{
		margin-bottom: 0.5em;
		font-size: 0.9375em;
		color: @gray4;
	}

	&--auto{
		width: auto;
	}
}

.properties{
	margin-top: -2.8em;

	.container{
		border: 1px solid @gray15;
		border-bottom: 3px solid @pink;
		background-color: @white;

		.border-radius(5px);
	}

	&__item{
		width: 33%;
		display: inline-block;
		vertical-align: middle;
		margin-left: -2px;
		border-right: 1px solid @gray15;
		height: 82px;
		padding-top: 0.7em;

		.box-sizing;

		&:last-child{
			border: none;
		}
	}
}

.prop-icon{
	display: inline-block;
	vertical-align: middle;
	margin: 0 1em 0 2em;

	svg{
		color: @pink;
		width: 75px;
		height: 40px;
	}
}

.prop-icon-car{
	svg{
		position: relative;
		top: 0.5em;
	}
}

.prop-icon-reward{
	margin: 0 0 0 2.5em;

	svg{
		width: 49px;
    	height: 60px;
	}
}

.prop-icon-clock{
	margin: 0 0.5em 0 2em;

	svg{
		height: 60px;
	}
}

.prop-text{
	display: inline-block;
	vertical-align: middle;
	width: 65%;
	color: @gray10;
	font-size: 0.875em;

	&__title{
		text-transform: uppercase;
		color: @pink;
		display: block;
		margin-bottom: 0.5em;
		font-size: 1.3em;
	}
}

.blue-text{
	color: @blue;
}

.pink-text{
	color: @pink;
}

.menu{
	display: inline-block;
	vertical-align: middle;

	&__item{
		color: @gray12;
		font-size: 0.94em;
		font-weight: 300;
		text-decoration: none;
		margin-right: 1.25em;
		line-height: 74px;

		.box-sizing;

		&:hover{
			color: @pink;
		}
	}
}

.contacts{
	background-color: @pink2;
	border-radius: 37px 0 0 37px;
	padding-left: 35px;
	height: 74px;
	width: 500px;
	position: relative;
    z-index: 2;

	.phones{
		color: @dark3;
		font-weight: 300;
		display: inline-block;
	    vertical-align: middle;
	    padding-top: 1.5em;

		.icon-phone {
		    width: 18px;
		    height: 18px;
		    color: @pink;
		    position: relative;
		    top: 0.2em;
		}
	}

	.btn{
		margin-top: 1em;
	}

	.box-sizing;
}

.absolute-link{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
}

.aside-part{
	float:left;
	width: 305px;
	margin-top: -40px;

	&--full-title{
		margin-top: 0;
	}
	
	.box-sizing;
}

.main-part{
	width: 785px;
	float: right;
	margin-bottom: 45px;

	&--full{
		width: 100%;
		float: none;
	}
	
	.box-sizing;
}

.btn-square{
	display: inline-block;
	text-decoration: none;
	color: @white;
	background-color: @blue2;
	font-size: 0.875em;
	padding: 0.65em 1em;

	.box-sizing;
}

.main-banner{
	background-color: @gray;
	position: relative;
	padding: 45px 50px;
	border-bottom: 3px solid @pink;
	margin-bottom: 2.125em;
	min-height: 330px;
	
	.box-sizing;
	.border-radius(5px);
	
	&__img{
		position: absolute;
		bottom: 0;
		right: 0;
		height: 100%;
		z-index: 1;
		overflow: hidden;
		
		img{
			height: 100%;
			width: auto;
			max-width: 100%;
		}
	}
	
	&__content{
		position: relative;
		z-index: 3;
		width: 350px;
		color: @white;
	}
	
	&__title{
		font-size: 1.56em;
		margin-bottom: 1em;
		text-transform: uppercase;
	}
	
	&__text{
		font-size: 1.125em;
		margin-bottom: 2.5em;
	}

	&--red{
		background-color: @pink2;

		.main-banner__title{
			color: @pink;
		}

		.b-banner-btn{
			background: url(../images/banner-btn-red.png) 0 0 no-repeat;
			color: @pink;
		}

		.main-banner__content{
			color: @dark;
		}
	}

	&--delivery{
		font-size: 2.25em;
		font-weight: 300;

		.main-banner__title{
			font-size: 1em;
			margin: 55px 0 0;
		}

		.def-text{
			color: @black;
		}

		.lvl-2, .lvl-3{
			display: block;
		}

		.lvl-2{
			margin-left: 70px;
		}

		.lvl-3{
			margin-left: 130px;
		}
	}
}

.b-banner-btn{
	color: @white;
	font-size: 0.9375em;
	font-weight: 400;
	text-transform: uppercase;
	background: url(../images/banner-btn.png) 0 0 no-repeat;
	height: 51px;
	padding: 1.1em 0 0 2em;
	position: relative;
    z-index: 3;
	
	.box-sizing;
}

.main-title{
	color: @dark;
	font-size: 1.75em;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: -0.85px;
	margin-bottom: 1em;
	margin-top: 0;

	&--to-main-side{
		padding-left: 362px;
	}
}

.sub-title, .catalog-title{
	color: @dark2;
	font-size: 1.25em;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 1em;
	text-decoration: none;
	display: inline-block;

	&--blue{
		color: @blue2;
	}

	&--big{
		font-size: 1.5em;
	}
}

.catalog-list{
	margin:0;
	padding: 0;
	list-style: none;

	.list__item{
		border-top: 1px solid @gray2;
		position: relative;
		padding: 1em 0.5em 1.25em 3.125em;

		&:last-child{
			border-bottom: 1px solid @gray2;
		}
	}
}

.catalog__link{
	text-decoration: none;
	color: @gray3;
	font-size: 1.125em;

	&:hover, .active{
		color: @pink;
	}
}

.catalog-title{
	font-weight: 600;
}

.catalog-icon{
	color: @pink;
	display: inline-block;
	margin-right: 1.25em;
}

.icon-menu{
	width: 1.125em;
	height: 0.81em;
}

.list-icon{
	position: absolute;
	top: 0;
	left: 0;
	color: @blue;
	text-align: center;
	width: 3.125em;
	padding-top: 1em;
}

.icon-right-arrow{
	width: 0.375em;
	height: 0.625em;
}

.aside-widget{
	margin-bottom: 4.375em;
}

.news-aside{
	&__item{
		border-top: 1px solid @gray2;
		padding: 1.37em 4px;

		.detail-link{
			color: @blue2;
			text-decoration: none;
			border-bottom: 1px dashed;
			float:right;
		}

		&:last-child{
			border-bottom: 1px solid @gray2;
		}
	}
	&__title{
		color: @blue2;
		font-size: 1.125em;
		text-decoration: none;
		font-weight: 400;

		&:hover{
			border-bottom: 1px solid;
		}
	}
}

.news-desc{
	color: @gray4;
	font-size: 0.875em;
	margin: 0.75em 0 1.125em;
	letter-spacing: -0.5px;
}

.news-date{
	display: inline-block;

	span{
		color: @gray6;
		font-size: 0.875em;
		margin-left:1em;
		position: relative;
		top: -2px;
	}
}

.date-icon{
	display: inline-block;
	color: @gray5;
}

.icon-calendar{
	width: 1.25em;
	height: 1.25em;
}

.company-desc{
	font-size: 1.125em;
	margin-bottom: 2.35em;

	p{
		letter-spacing: -0.5px;
		margin: 0 0 1em;
	}
}

.slider{
	margin-bottom: 3.35em;

	&__actions{
		padding-right: 4.6em;
	}

	&__head{
		border-bottom: 1px solid @gray2;
		margin-bottom: 1.9em;
	}

	&__item{
		width: 168px;
		margin-right: 35px;

		.good-image{
			height: 168px;
			margin-bottom: 1em;
		}
	}

	.flickity-prev-next-button{
		width: 2.125em;
		height: 2.125em;
		background-color: @gray7;
		border-radius: 0;
		top: -3.65em;

		svg{
			width: 30%;
			height: 30%;
			left: 50%;
		    top: 50%;
		    margin-top: -15%;
		    margin-left: -15%;
		}

		.arrow{
			fill: @blue2;
		}

		&:focus{
			box-shadow: none;
		}

		&.next{
			right: 0;
		}

		&.previous{
			left: auto;
			right: 2.3em
		}
	}

	&--full{
		width: 1050px;
		margin: 0 auto;

		.slider__item{
			width: 100%;
		}

		.flickity-prev-next-button{
			top: 50%;
			background-color: transparent;
			width: 28px;
			height: 28px;
			margin-top: -10px;

			svg{
				width:100%;
				height: 100%;
				top: 0;
				left: 0;
				margin-left: 0;
				margin-top: 0
			}

			.arrow{
				fill: @gray11;
			}

			&:hover .arrow{
				fill: @blue2;
			}

			&.previous{
				left: -50px;
				right: auto;
			}

			&.next{
				right: -40px;
			}
		}
	}
}

/* safari hack */
_::-moz-svg-foreign-content, :root .flickity-enabled.is-draggable .flickity-viewport {
	padding-bottom: 20px;
} 

.good-image{
	overflow: hidden;
	position: relative;

	img{
		width: 100%;
		height: auto;
	}
}

.good-title{
	color: @blue2;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.875em;
	font-weight: 400;
	display: block;
	text-align: center;
	padding-bottom: 1em;
	position: relative;
	letter-spacing: -0.5px;
	margin-bottom: 1em;

	&:after{
		content: '';
		width: 44px;
		height: 1px;
		background-color: @blue2;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -22px;
	}

	&:hover{
		color: @pink;

		&:after{
			background-color: @pink;
		}
	}
}

.good-price{
	text-align: center;
	color: @gray8;
	letter-spacing: -0.5px;
	margin-bottom: 1em;
	font-weight: 100;
	font-size: 1.56em;

	&--null{
		font-size:  0.75em;
		font-weight: 300;
	}
}

.btn{
	border: 2px solid @pink;
	height: 2.5em;
	color: @gray9;
	font-size: 1.125em;
	display: inline-block;
	margin: 0 auto;
	text-decoration: none;
	padding: 0.5em 1.5em;
	text-align: center;
	background-color: transparent;

	.box-sizing;
	.border-radius(23px);

	&--full{
		width: 100%;
	}

	&:hover{
		background-color: @pink;
		color: @white;
	}

	&--blue{
		border-color: @blue2;

		&:hover{
			background-color: @blue2;
		}
	}

	&--full-blue{
		color: @white;
		background-color: @blue;
		border-color: @blue;

		&:hover{
			background-color: lighten(@blue, 10%);
			border-color: lighten(@blue, 10%)
		}
	}

	&--full-pink{
		color: @white;
		background-color: @pink;
		border-color: @pink;

		&:hover{
			background-color: lighten(@pink, 10%);
			border-color: lighten(@pink, 10%)
		}
	}

	&--full-gray{
		color: @dark;
		border-color: @gray30;
		opacity: 0.5;

		&:hover{
			color: @white;
			background-color: @gray30;
			opacity: 1
		}
	}

	&--rounded{
		width: 2.5em;
		padding-left: 0.5em;
		padding-right: 0.5em;

		.border-radius(100%);
	}

	&--small{
		font-size: 1em;
	}

	&--gray{
		border-color: @gray17;
		color: @gray17;
	}
}

input.btn{
	padding-top: 0.3em;
}

.gray-block{
	background: url(../images/pattern.jpg) 0 0 repeat;
}

.color{
	display: none;
}

.clients-wrap{
	display: inline-block;
	vertical-align: middle;
	height: 80px;
	margin: 0 1em;

	img{
		width: 100%;
	}

	&:hover{
		.color{display: block}
		.gray-scale{display: none;}
	}
}

.clients{
	padding: 3em 0;

	.slider__item{
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	}

	&__title{
		color: @gray10;
		font-size: 1.5em;
		text-transform: uppercase;
		margin-bottom: 1.5em;
	}
}

.cart-icon{
	position: relative;

	.cart-goods-count{
		position: absolute;
		top: -8px;
		left: -8px;
		background-color: @pink;
		color: @white;
		font-size: 0.625em;
		text-align: center;
		padding: 4px;
		min-width: 20px;
		height: 20px;

		.box-sizing;
		.border-radius(100%);
	}
}

.collections{
	&__item{
		width: 230px;
		margin-right: 47px;
		margin-bottom: 0.85em;
		float: left;
		padding-bottom: 1.25em;
		border-bottom: 1px solid @gray18;

		&:nth-child(3n){
			margin-right: 0;
		}
	}

	&__link{
		color: @black;
		font-size: 0.875em;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		display: block;
		letter-spacing: -0.5px;
    	line-height: 1.4;

		&:hover{
			color: @pink;
		}
	}

	.good-image{
		height: 230px;
		margin-bottom: 20px;
	}
}

.guarantee{
	&__item{
		width:47%;
		margin-right: 6%;
		float:left;
		margin-bottom: 1.75em;

		&:nth-child(2n){
			margin-right: 0;
		}
	}

	&__icon{
		color: @pink;
		width: 38px;
	    display: inline-block;
	    vertical-align: middle;
	    margin-right: 10px;

	    .icon-reward2{
	    	width: 100%;
    		height: 52px;
	    }
	}

	&__text{
		color: @gray20;
		font-size: 1.125em;
		display: inline-block;
	    vertical-align: middle;
	    width: 85%;
	    letter-spacing: -0.5px;
	}
}

.justify-text{
	text-align: justify;
}

hr{
	margin: 45px 0;
	border: none;
	border-bottom: 1px dashed @gray19;

	&.pink{
		border-color: @pink;
	} 
}

.form-input{
	width: 100%;
	height: 43px;
	background-color: @white;
	border: 1px solid @gray22;
	font-size: 0.94em;
	color: @gray21;
	padding: 0 1.2em;

	.box-sizing;
	.border-radius(5px);

	&.textarea{
		height: 125px;
		resize: none;
		padding: 1.2em;
	}

	&:disabled{
		background: url(../images/pattern.jpg) 0 0 repeat;
	}

	&[type="password"]:disabled{
		color: @pink;
	}
}

.form-sub-title{
	color: @black;
	font-size: 0.9375em;
	text-transform: uppercase;
	margin-bottom: 2.5em;
}

.form-label{
	color: @black;
	font-size: 1.125em;
	font-weight: 400;
	margin-bottom: 15px;
	display: inline-block;

	&--block{
		display: block;
		margin-bottom: 30px;
	}
}

.input-line{
	position: relative;
	width: 46%;
	margin-right: 7%;
	margin-bottom: 40px;

	&:nth-child(2n){
		margin-right: 0;
	}

	&--bordered{
		padding-bottom: 25px;
		border-bottom:1px solid @gray32;
	}
}

.advantages{
	&__title{
		color: @black;
		font-size: 1.5em;
		text-transform: uppercase;
		margin-bottom: 2em;
	}
	&__icon{
		color: @pink;
		width: 35px;
		height: 31px;
		margin-right: 1em;

		svg{
			width: 100%;
			height: 31px;
		}
	}
	&__text{
		color: @dark4;
		width: 80%;
		letter-spacing: -1px;
	}

	&__item{
		width: 46%;
		margin-right: 7%;
		margin-bottom: 1.2em;

		&:nth-child(2n+1){
			margin-right: 0;
		}
	}
}

.articles-wrap{
	position: relative;

	&:before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 325px;
		width: 1px;
		height: 90%;
		background-color: @gray2;
	}

	.news-aside{
		width: 270px;

		&__item:nth-child(2){
			border-top: none;
			padding-top: 0.5em;
		}

		&--article-mod{
			width: 400px;
		}
	}
}

.news-content{
	width: 270px;
}

.news-image{
	width:100px;
	height: 100px;
	overflow: hidden;
	margin-right: 15px;

	img{
		width:100%;
		height: auto;
	}
}

.pagination{
	text-align: right;
	margin: 3em 0 0;

	&__link{
		font-size: 0.875em;
		text-align: center;
		width: 2.43em;
		height: 2.43em;
		padding-top: 0.7em;
		color: @gray23;
		text-decoration: none;

		.box-sizing;

		&.active, &.next, &.prev, &:hover{
			background-color: @gray7;
			color: @pink;
		}

		&.next{
			margin-left: 5px;
		}

		&.prev{
			margin-right: 5px;
		}
	}

	svg{
		width: 7px;
    	height: 12px;
	    color: @pink;
	    margin-left: 3px;
	}
}

.column{
	width: 330px;
}

.column-wide{
	width: 465px;
}

.column-thin{
	width: 200px;
}

.options{
	margin-bottom: -25px;

	&__item{
		margin-bottom: 25px;
	}

	&__text{
		width: 85%;
		font-size: 1.125em;
	}

	&__icon{
		color: @pink;
		width: 1em;
		height: 1em;
		margin-right: 0.5em;

		svg{
			width: 100%;
			height: 1em;
		}
	}
}

.range-wrap{
	width: 100%;
	position: relative;
	padding-bottom: 30px;

	.ui-slider{
		height: 9px;
	    background-color: @gray22;
	    border-radius: 5px;

	    .ui-slider-range{
	    	height: 9px;
		    .border-radius(5px);
		    background-color: @pink;
	    }

	    .ui-slider-handle{
	    	width: 19px;
		    height: 19px;
		    border: 1px solid rgb(229, 229, 229);
		    box-shadow: rgba(0, 0, 0, 0.34902) 0px 1px 2px;
		    .border-radius(100%);
		    background-color: rgb(255, 255, 255);
		    cursor: pointer;
	    }
	}
}

.range-input-wrap{
	position: absolute;
	bottom: 0;
	z-index: 10;
	margin-left: -35px;
	color: @black;
	font-weight: 300;
	font-size: 0.875em;
	width: 90px;
}

.range-from, .range-to{
	display: inline-block;
	background-color: transparent;
	border: none;
	width: 70px;
	color: @pink3;
	font-weight: 400;
}

.filter-block{
	margin-bottom: 35px;

	&__title{
		color: @black;
		font-size: 1.125em;
		font-weight: 300;
		margin-bottom: 1em;
	}

	.checkbox-wrap{
		margin-right: 24px;

		&:last-child{
			margin-right: 0;
		}

		&--color{
			margin-right: 10px;
			margin-bottom: 10px;
		}
	}

	.select2-container{
		width: 100% !important
	}
}

.filter{
	.btn{
		font-size: 1em;
	}

	border-bottom: 1px solid @gray24;
}

.catalog-list{
	.good{
		width: 168px;
		margin-right: 33px;
		margin-bottom: 45px;

		&:nth-child(4n){
			margin-right: 0;
		}
	}

	.good-image{
		margin-bottom: 16px;
	}
}

.checkbox-wrap{
	position: relative;

	&--color{
		.checkbox-label{
			width: 53px;
			height: 53px;
			display: block;

			.border-radius(100%);
		}

		.checkbox:checked + .checkbox-label{
			border: 1px solid;
			width: 51px;
			height: 51px;
		}
	}

	&--color-small{
		.checkbox-label{
			width: 41px;
			height: 41px;
			display: block;

			.border-radius(100%);
		}

		.checkbox:checked + .checkbox-label{
			border: 1px solid;
			width: 39px;
			height: 39px;
		}
	}

	&--single{
		margin-bottom: 17px;
	}
}

.checkbox{
	display: none;

	&__text{
		display: inline-block;
		vertical-align: middle;
		max-width: 80%;
	}
}

.checkbox-label{
	position: relative;
	display: block;
	cursor: pointer;
	font-size: 1.125em;
	color: @black;
	letter-spacing: -0.5px;

	.checkbox-icon{
		background-color: @gray24;
		color: @white;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		width: 26px;
		height: 26px;
		margin-right: 10px;
		position: relative;
		top:-2px;
		padding-top: 2px;

		svg{
			width: 12px;
			height: 9px;
		}

		.border-radius(100%);
		.box-sizing;
	}
}

.checkbox:checked + .checkbox-label .checkbox-icon{
	background-color: @pink;
}

.checkbox--blue:checked + .checkbox-label .checkbox-icon{
	background-color: @blue;
}


.sort{
	padding: 2em 0;
	border-bottom: 1px solid @gray24;
	margin-bottom: 1.8em;

	.pagination{
		margin: 0;
	}
}

.stock{
	color: @black;
	font-size: 1.125em;
	font-weight: 300;

	&__icon{
		color: @blue;
		width: 18px;
		height: 15px;
		margin-right: 10px;

		svg{
			width: 100%;
			height: 15px;
		}
	}

	&__text{
		width:80%;
	}
}

.rounded-select .select2-container{
	width: 100% !important
}

.catalog-detail{
	.rounded-select .select2-container--default .select2-selection--single{
		min-width: 0;
		width: 150px;
	}

	.column-thin{
		margin-bottom: 20px;
	}

	.column-wide{
		width: 540px;
	}

	.select2-container{
		width: 150px !important;
	}

	.checkbox-wrap{
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.btn{
		font-size: 1em;
		margin-left: -1em;
	}

	.rounded-select{
		margin-bottom: 20px;
	}

	.checkbox-label{
		font-size: 1em;
	}
	.filter-block{
		margin-bottom: 25px
	}

	.properties{
		margin-top: 0;

		&__item{
			width: 50%;
			color: @gray28;
			font-size: 1.125em;
			border: none;
			height: auto;
			float:left;

			img{
				display: inline-block;
			    vertical-align: middle;
			    max-width: 42px;
			    margin:0 3px;
			}
		}

		&__type{
			color: @black;
			font-weight: 400;
			margin-right: 8px;
		}
	}
}

.detail-info{
	width: 230px;

	.price{
		font-size: 1.5em;
		font-weight: 300;
		margin-bottom: 40px;
	}

	.count{
		color: @gray25;
		font-size: 1.125em;
		font-weight: 300;
		margin-bottom: 45px;
	}

	.counter {
	    margin-top: 25px;
	}

	.delivery{
		&__title{
			color: @black;
			font-size: 1.125em;
			font-weight: 300;
			text-transform: uppercase;
			margin-bottom: 20px;
		}

		&__icon{
			color: @pink;
			width: 17px;
			height: 17px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 0.5em;

			svg{
				width: 17px;
				height: 17px;
			}
		}

		&__text{
			color: @gray27;
			max-width: 85%;
			display: inline-block;
			vertical-align: middle;
		}

		&__item{
			margin-bottom: 1em;
		}
	}
}

.counter{
	color: @pink;

	&__btn{
		width: 32px;
		height: 32px;
		line-height: 24px;
		background-color: @gray26;
		cursor: pointer;
		float: left;
		font-size: 31px;
		text-align: center;

		.box-sizing;
	}

	&__text{
		border:1px solid @gray26;
		width: 30px;
		text-align: center;
		float: left;
		font-size: 1.125em;
	}
}

.detail-slider{
	width: 226px;
	margin-right: 40px;

	.big-image{
		height: 325px;
		width: 100%;
		overflow: hidden;
		margin-bottom: 5px;

		img{
			width: 100%;
			height: auto;
		}
	}

	.thumbs-image{
		width: 42px;
		height: 42px;
		overflow: hidden;
		margin-right: 7px;

		img{
			width: 100%;
			height: auto;
		}
	}

	.flickity-enabled{
		width: 190px;
		margin-left: 18px;
	}
	.flickity-prev-next-button{
		background: none;
		width:7px;
		height: 13px;

		svg{
			width: 100%;
			height: 100%;
		}
		.arrow{
			fill: @pink;
		}

		&:focus{
			box-shadow: none;
		}
	}
	.flickity-prev-next-button.previous{
		left: -19px;
	}
	.flickity-prev-next-button.next{
		right: -15px;
	}
}

.suggestions{ margin-top: 35px; }

.remove-good{
	width: 21px;
	height: 21px;
	color: @pink;
	cursor: pointer;
	margin-bottom: 10px;
    margin-top: 5px;
    padding-left: 20px;
    text-decoration: none;
    display: block;

	svg{
		width: 23px;
		height: 21px;
	}
}

.bascket{
	&__head{
		padding-top: 40px;
		padding-bottom: 35px;
		border-top: 1px solid @gray2;
		color: @dark;
		font-size: 0.875em;
		font-weight: 500;
		text-transform: uppercase;
	}

	&__cell{
		display: inline-block;
		vertical-align: top;

		&:first-child{
			width: 205px;
			margin-right: 20px;
		}
		&:nth-child(2){
			width: 125px;
			margin-right: 20px;
		}
		&:nth-child(3), &:nth-child(4){
			width: 60px;
			margin-right: 45px;
			text-align: center;
		}
		&:nth-child(5){
			width: 70px;
			margin-right: 45px;
			text-align: center;
		}
		&:last-child{
			width: 65px;
			text-align: center;
		}
	}

	.good-image{
		width: 55px;
		height: 55px;
		background-color: @gray29;
		margin-right: 5%;

		.border-radius(100%);
	}

	.good-info{
		width: 65%;
		color: @dark;
		font-size: 0.9375em;
		line-height: 1.6
	}

	.color{
		display: block;
		margin-bottom: 10px;

		&__icon{
			width: 19px;
			height: 19px;
			border: 1px solid;
			margin-right: 8px;
			.border-radius(100%);
		}
	}

	.good-price, .good-count{
		color: @dark;
		font-size: 0.9375em;
		margin-bottom: 10px;
		line-height: 23px;
    	margin-top: 2px;
	}

	hr{
		margin: 25px 0 35px;
	}

	.result{
		font-size: 1.125em;
		width: 220px;
		margin-top: 0.65em;
	}

	&__actions{
		margin-bottom: 1.9em;
	}

	&__detail{
		background-color: @gray31;
		border-top: 1px solid @gray2;
		padding: 2.2em;
		display: none;

		.input-line{
			width: 100%;
			margin-bottom: 1.5em;

			.select2-container{
				width: 100% !important
			}
		}

		.checkbox-wrap{
			margin-right: 1.5em;

			&--single{
				margin-right: 0;
			}
		}

		.checkbox-label{
			font-size: 0.9375em;
			color: @gray21;
		}

		.btn{
			margin-left: 1.5em;
		}
	}
}

.slide-block{
	width: 100%;
	min-width: 330px;
	background: url(../images/hint-arrow.png) 0 0 no-repeat;
	max-height: 0;
	transition: max-height 0.15s ease-out;
	overflow: hidden;

	&__content{
		background-color: @white;
		padding: 25px 25px 15px 30px;
		border: 1px solid @gray32;
		border-top: none;
		box-shadow: 1.5px 1.4px 3px rgba(0, 0, 0, 0.1);
		position: relative;
		z-index: 10;

		.border-radius(5px);
		border-top-left-radius: 0;
		.box-sizing;
	}

	&--wide{
		width: 435px;
	}
}

.active .slide-block{
	max-height: 9000px;
	transition: max-height 1s ease-in;
	padding-top: 30px;
}

.lk{

	&__detail{
		background: url(../images/pattern.jpg) 0 0 repeat;
		padding: 30px;
		border-top: 1px solid @gray2;

		hr{
			margin-top: 0;
			margin-bottom: 35px;
		}

		.select2-container{
			width: 100% !important
		}
	}
}

.lk-actions{
	margin-bottom: 35px;

	&__text{
		font-size: 1.125em;
		color: @black;
	}

	&__link{
		color: @pink;
		text-decoration: none;
		margin-left: 8px;

		&:hover{
			border-bottom: 1px solid;
		}
	}

	&__block{
		margin-left: 35px;
	}
}

.lk-icon{
	width: 41px;
	height: 41px;
	background-color: @pink;
	text-align: center;
	color: @white;
	padding-top: 0.55em;

	.border-radius(100%);
	.box-sizing;

	svg{
		width: 25px;
		height: 18px;
	}

	.icon-money2{
		margin-left: -5px;
	}
}

.lk-edit-link{
	color: @gray33;
	font-size: 0.9375em;
	text-decoration: none;

	&__text:hover{
		color: @pink;
		border-bottom: 1px solid;
	}

	&__icon{
		width: 13px;
		height: 13px;
		color: @pink;
		margin-right: 5px;

		svg{
			width: 13px;
			height: 13px;
			margin-top: 5px;
		}
	}
}

.full-table{
	width: 100%;
	border: 1px solid @gray2;
	margin-top: 20px;

	.center{
		text-align: center;
	}

	th{
		color: @dark;
		font-size: 0.875em;
		font-weight: 400;
		text-transform: uppercase;
		padding: 20px 15px 20px 50px;
		background-color: @pink2;
		text-align: left;

		&:last-child{
			text-align: right;
			padding-right: 50px;
		}
	}

	td{
		padding: 10px 15px 10px 50px;

		&:last-child{
			text-align: right;
			padding-right: 50px;
		}
	}

	tbody tr:first-child td{
		padding-top: 30px;
	}
	tbody tr:last-child td{
		padding-bottom: 30px;
	}

	.date, .debt{
		width: 170px;
	}

	.order{
		width: 215px;
	}

	.debt, .order{
		&.active{
			color: @pink;
		}
	}

	&--dop{
		margin-top: 40px;
	}
}

.lk-balance{
	.full-table{
		margin-top: 65px;
	}
}

.lk-orders{
	tr a:not(.remove-good){
		text-decoration: none;
		border-bottom: 1px solid;
		color: @base-color;

		&:hover{
			color: @pink;
		}
	}

	td{
		vertical-align: top;
		padding: 10px 15px 10px 30px;

		&:last-child{
			padding-right: 30px;
			padding-left: 0;
		}
	}

	th{
		padding: 20px 5px 20px 30px;

		&:last-child{
			padding-right: 30px;
			padding-left: 0;
		}
	}

	.count{
		width: 95px;
	}

	.date{
		width: 80px;
	}

	.number{
		width: 55px;
	}

	.summ, .price{
		width: 75px;
	}

	.status{
		width: 130px;
	}

	.cancel-order{
		width: 30px;
		margin: 0 auto;
	}

	.remove-good{
		padding-left: 0;
	}

	.good-image{
		width: 55px;
		height: 55px;
		overflow: hidden;

		.border-radius(100%);

		img{
			width: 100%;
		}
	}

	.good-info{
		width: 65%;
		margin-left: 10px;
		line-height: 1.8;
	}

	.good-cell{
		width: 200px;
	}
}

.contacts-page{
	hr{
		margin: 30px 0;
	}
}

.contacts-form{
	margin-top: 35px;
	.input-line{
		margin-bottom: 20px;
	}
	.form-input.textarea{
		height: 105px;
	}
}

.contacts-column{
	display: inline-block;
	vertical-align: top;
	width: 320px;

	&.wide{
		margin-left: 20px;
		width: 440px;

		&--first{
			margin-left: 0;
			margin-right: 20px;
		}
	}
}

.contacts-line{
	margin-bottom: 20px;
}

.contacts-icon{
	color: @pink;
	display: inline-block;
	vertical-align: middle;
	width: 23px;
	height: 21px;

	svg{
		width: 100%;
		height: 21px;

		&.icon-email{
			width: 23px;
		    height: 15px;
		    margin-top: 4px;
		}
	}
}

.form-error{
	color: #f2093a;
	font-size: 14px;
	margin-top: 5px;
}

.contacts-text{
	color: @gray34;
	font-size: 1.125em;
	font-weight: 100;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: -1px;
	width: 75%;
	margin-left: 10px;
}

.landing-banner{
	position: relative;
	z-index: 1;
	margin-top: -4.55em;
	padding-top: 4.55em;

	.editable-text{
		color: @white;
		text-align: center;
		padding: 0 4.5em;
	}
}

.landing-content{
	position: relative;
	z-index: 3;
}

.landing-title{
	color: @white;
	font-size: 1.75em;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.6;
	margin-bottom: 1.3em;
}

.landing-image{
	width: 100%;
	position: absolute;
	top:0;
	left:0;
	z-index: 1;
	max-height: 658px;
	overflow: hidden;

	img{
		width: 100%;
		height: auto;
	}
}

.achievements{
	margin-bottom: 70px;
	text-align: center;
	&__item{
		display: inline-block;
		vertical-align: top;
		width: 230px;
		margin: 0 15px;
	}
	&__icon{
		width: 75px;
		height: 73px;
		color: @pink;
		margin: 0 auto 10px;

		svg{
			width: 80px;
		    height: 73px;
		    margin-left: -5px;
		}
	}
	&__text{
		color: @gray21;
		font-size: 1.125em;
		font-weight: 300;
	}
}

.popular{
	&__title{
		color: @black;
		font-size: 2.25em;
		font-weight: 300;
		text-transform: uppercase;
		text-align: center;
	}

	&__subtitle{
		color: #656565;
		font-size: 1.25em;
		font-weight: 300;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 50px;
		margin-top: 10px;
	}

	.slider{
		width: 1012px;
		margin-left: 68px;
		padding-bottom: 55px;

		&__item{
			width: 215px;
			margin-right: 50px;
		}

		.flickity-prev-next-button{
			top: 140px;
			background-color: transparent;
			width: 50px;
    		height: 64px;

    		&.next{
    			right: -68px;
    		}

    		&.previous{
    			right: auto;
    			left: -68px;
    		}

			svg{
				width: 100%;
				height: 100%;
				top: 0;
			    left: 0;
			    margin: 0;

				.arrow{
					fill: @pink;
				}
			}
		}
	}

	.good-image{
		height: 275px;
	}
}

.seo-block{
	margin-bottom: 45px;
	.container{
		width: 1012px;
	}
	.contacts-line{
		display: inline-block;
		vertical-align: top;
		width: 450px;

		&--left{
			margin-right: 105px;
		}
	}
	.contacts-text{
		width: 88%;
	}
	.popular__title{
		margin-bottom: 55px;
	}
}

.landing-columns{
	text-align: center;
	margin-top: 45px;
	margin-bottom: 70px;

	.column{
		width: 402px;
		border-radius: 5px;
		background-color: @blue;
		color: @white;
		padding: 35px 20px;
		display: inline-block;
		vertical-align: top;
		text-align: left;
		position: relative;

		.box-sizing;

		&__title{
			font-size: 1.625em;
			font-weight: 300;
			text-transform: uppercase;
			margin-bottom: 30px;
			text-align: center;
		}

		&:after{
			content: '';
			position: absolute;
			top:100%;
			right: 10px;
			width: 480px;
			height: 55px;
			background: url(../images/landing-shadow-left.png) bottom left no-repeat;
		}

		&--last{
			background-color: @pink;
			margin-left: 90px;

			.btn:hover{
				background-color: @blue;
				border-color: @blue
			}

			&:after{
				left: 10px;
				right: auto;
				width: 480px;
				height: 55px;
				background: url(../images/landing-shadow-right.png) bottom right no-repeat;
			}
		}
	}
	.btn{
		border-color: @white;
		color: @white;
		background-color: transparent;
		width: 100%;
		font-size: 14px;
		text-transform: uppercase;
		height: 55px;
		padding-top: 1.3em;
		margin-bottom: 35px;

		.border-radius(55px);

		&:hover{
			background-color: @pink;
			border-color: @pink
		}
	}

	.contacts-line{
		margin-left: 30px; 
	}

	.contacts-text{
		color: @white;
	}

	.contacts-icon{
		color: @white;
	}
}

.preloader{
	position: fixed;
	top:50%;
	left:50%;
	z-index: 100;
	margin: -32px 0 0 -30px;
	display: none;
}

.layout{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.7);
	z-index: 99;
	display: none;
}

.editable-text{
	font-size: 1.125em;
	p{
		margin: 0.65em 0 1em;
	}
	a{
		color: @blue2;
		text-decoration: none;

		&:hover{
			border-bottom: 1px solid;
		}
	}

	h4{
		color: @black;
		font-size: 1em;
		font-weight: 300;
		text-transform: uppercase;
		margin-top: 0;
	}

	img{
		width: 200px;
	    height: auto;
	    float: left;
	    margin: 0 1.8em 1em 0;
	}
}

/* плавное изменение прозрачности  placeholder-а при фокусе */
::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease; color: @gray21; font-size: 1em;}
::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease; color: @gray21; font-size: 1em;}
:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease; color: @gray21; font-size: 1em;}
:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease; color: @gray21; font-size: 1em;}

:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}