.box-sizing{
	box-sizing: border-box;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.border-radius(@px){
	border-radius: @px;
}

.b-inline{
	display: inline-block;
	vertical-align: bottom;
}

.t-inline{
	display: inline-block;
	vertical-align: top;
}

.m-inline{
	display: inline-block;
	vertical-align: middle;
}