.icon {
	display: inline-block;
	fill: currentColor;
}

/* =======================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */

.icon-calendar {
}

.icon-car {
}

.icon-cart {
}

.icon-check {
}

.icon-clock {
}

.icon-email {
}

.icon-hours {
}

.icon-left-arrow {
}

.icon-logo {
}

.icon-menu {
}

.icon-money2 {
}

.icon-phone {
}

.icon-phone2 {
}

.icon-point {
}

.icon-printer {
}

.icon-reward {
}

.icon-reward2 {
}

.icon-right-arrow {
}

.icon-select-arrow {
}