/* fonts */
@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI.woff') format('woff'), url('../fonts/SegoeUI.ttf')  format('truetype'), url('../fonts/SegoeUI.svg#SegoeUI') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-Bold.woff') format('woff'), url('../fonts/SegoeUI-Bold.ttf')  format('truetype'), url('../fonts/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-Light.woff') format('woff'), url('../fonts/SegoeUI-Light.ttf')  format('truetype'), url('../fonts/SegoeUI-Light.svg#SegoeUI-Light') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/SegoeUI-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-Semibold.woff') format('woff'), url('../fonts/SegoeUI-Semibold.ttf')  format('truetype'), url('../fonts/SegoeUI-Semibold.svg#SegoeUI-Semibold') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/SegoeUI-Semilight.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-Semilight.woff') format('woff'), url('../fonts/SegoeUI-Semilight.ttf')  format('truetype'), url('../fonts/SegoeUI-Semilight.svg#SegoeUI-Semilight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font: 'SegoeUI', 'Tahoma', sans-serif;

/* font size */

@base: 16px;

/* colors */

@base-color: #333;
@dark: #292929;
@dark2: #3D3D3D;
@dark3: #2F2F2F;
@dark4: #4e4e4e;

@black: #000;

@gray: #7e8182;
@gray2: #e5e5e5;
@gray3: #696969;
@gray4: #606060;
@gray5: #cbcbcb;
@gray6: #A4A4A4;
@gray7: #EBF2F8;
@gray8: #676767;
@gray9: #363636;
@gray10: #3D3D3D;
@gray11: #acacab;
@gray12: #565656;
@gray13: #696A6A;
@gray14: #d7d7d7;
@gray15: #ccc;
@gray16: #808080;
@gray17: #7e7e7e;
@gray18: #dfdfdf;
@gray19: #cfcfcf;
@gray20: #787676;
@gray21: #6E6E6E;
@gray22: #DCDCDC;
@gray23: #868686;
@gray24: #dbdbdb;
@gray25: #3A3A3A;
@gray26: #eeeeee;
@gray27: #646464;
@gray28: #353535;
@gray29: #f2f2f2;
@gray30: #c2c2c2;
@gray31: #f9f9f9;
@gray32: #e0e0e0;
@gray33: #6d6d6d;
@gray34: #585858;

@pink: #ff33a4;
@pink2: #f8f8f8;
@pink3: #D52A89;

@white: #fff;

@blue: #23b2ff;
@blue2: #1D97D9;
@blue3: #1da9f4;

/* container */

@footer-height: 21em;

@container: 1148px;