-var title= 'YSG - магазин шапок'
doctype html
html
	head
		include /blocks/links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header-reg-user.jade
			<!-- BEGIN content -->
			.content
				.container
					h1.main-title.main-title--to-main-side= 'Моя корзина'
					.columns-wrap.clearfix
						aside.aside-part
							.catalog.aside-widget
								.catalog-icon
									| <svg class="icon icon-menu"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-menu"></use></svg>
								a.catalog-title(href="", title="")= 'Каталог'
								ul.catalog-list.list
									each val in ['Новости', 'Распродажа', 'Шапки для мужчин', 'Шапки для женщин', 'Молодежные шапки', 'Детские шапки', 'Весенняя коллеция', 'Аксессуары и атрибутика']
										li.list__item
											.list-icon
												| <svg class="icon icon-right-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-right-arrow"></use></svg>
											a.catalog__link(href="", title="")= val
							.aside-widget.news-aside
								a.sub-title(href="", title="")= 'Новости'
								- var n = 0
								while n < 5
									.news-aside__item
										a.news-aside__title(href="", title="")= 'Запуск новой версии сайта!'
										.news-desc.c-limit-text(data-length="70")= 'Компания YSG представляет обновленную версию сайта. Новые коллекции Компания YSG представляет обновленную версию сайта'
										.news-date
											.date-icon
												| <svg class="icon icon-calendar"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-calendar"></use></svg>
											span= '28.07.2015'
										a.detail-link(href="", title="")= 'Подробнее'
									- n++
							
						.main-part
							.bascket.c-bascket
								.bascket__head.clearfix
									.bascket__cell= 'Товар'
									.bascket__cell= 'Цвет'
									.bascket__cell= 'Кол-во'
									.bascket__cell= 'Цена'
									.bascket__cell= 'Сумма'
									.bascket__cell= 'Удалить'
								.bascket__line.c-bascket-line
									.bascket__cell.c-bascket-image
										.bascket__cell-content
											.good-image.m-inline
												img(src="images/content/hats/hat2.jpg", alt="")
											.good-info.m-inline= 'Модель номер 23567'
									.bascket__cell
										.color
											.color__icon.m-inline(style="background-color: #fff; border-color: #bcbcbc")
											.color-name.m-inline= 'Белый'
										.color
											.color__icon.m-inline(style="background-color: #ff33a4; border-color: #ff33a4")
											.color-name.m-inline= 'Розовый'
									.bascket__cell
										.good-count= '15'
										.good-count= '12'
									.bascket__cell
										.good-price= '400р'
										.good-price= '300р'
									.bascket__cell
										.good-price= '6000р'
										.good-price= '5000р'
									.bascket__cell
										a.remove-good.c-remove-good(href="", title="Удалить товар")
											| <svg class="icon icon-close"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use></svg>
										a.remove-good.c-remove-good(href="", title="Удалить товар")
											| <svg class="icon icon-close"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use></svg>
								hr
								.bascket__line.c-bascket-line
									.bascket__cell.c-bascket-image
										.bascket__cell-content
											.good-image.m-inline
												img(src="images/content/hats/hat2.jpg", alt="")
											.good-info.m-inline= 'Модель номер 23567'
									.bascket__cell
										.color
											.color__icon.m-inline(style="background-color: #fff; border-color: #bcbcbc")
											.color-name.m-inline= 'Белый'
										.color
											.color__icon.m-inline(style="background-color: #ff33a4; border-color: #ff33a4")
											.color-name.m-inline= 'Розовый'
										.color
											.color__icon.m-inline(style="background-color: #f6f6c7; border-color: #bcbcbc")
											.color-name.m-inline= 'Бежевый'
									.bascket__cell
										.good-count= '15'
										.good-count= '12'
										.good-count= '15'
									.bascket__cell
										.good-price= '400р'
										.good-price= '300р'
										.good-price= '400р'
									.bascket__cell
										.good-price= '6000р'
										.good-price= '5000р'
										.good-price= '6000р'
									.bascket__cell
										a.remove-good.c-remove-good(href="", title="Удалить товар")
											| <svg class="icon icon-close"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use></svg>
										a.remove-good.c-remove-good(href="", title="Удалить товар")
											| <svg class="icon icon-close"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use></svg>
										a.remove-good.c-remove-good(href="", title="Удалить товар")
											| <svg class="icon icon-close"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use></svg>
								hr
								.bascket__actions.clearfix
									a.btn.btn--full-gray.left.c-bascket-clear(href="", title="")= 'Очистить корзину'
									.right
										.result.left
											span.pink-text
												| Итого: &nbsp;
											| 12 000р.
										a.btn.btn--full-blue.right.c-create-order(href="", title="")= 'Оформить заказ'
								.bascket__detail.c-bascket-detail.clearfix
									form(action="", method="")
										fieldset.column.left
											.input-line
												input.form-input(type="text", name="fio", placeholder="Ваше Ф.И.О:")
											.input-line
												input.form-input(type="text", name="phone", placeholder="Ваш телефон:")
											.input-line
												input.form-input(type="email", name="email", placeholder="Ваша почта:")
											.input-line
												select.c-custom-select(data-placeholder= '-- Выберите Ваш Город --')
													option= ''
													option(val='1')= 'Москва'
													option(val='2')= 'Санкт-Петербург'
													option(val='3')= 'Казань'
											.input-line
												textarea.form-input.textarea(placeholder='Адрес доставки:', name="")
											.input-line
												input.form-input(type="text", name="", placeholder="Другая ТК")
											.input-line
												.checkbox-wrap.checkbox-wrap--single
													input.checkbox.checkbox.c-slide-check(type="radio", name="delivery", id="courier")
													label.checkbox-label(for="courier")
														span.checkbox-icon
															| <svg class="icon icon-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use></svg>
														| Курьер по Москве - 300р
												.checkbox-wrap.checkbox-wrap--single
													input.checkbox.checkbox.c-slide-check(type="radio", name="delivery", id="company")
													label.checkbox-label(for="company")
														span.checkbox-icon
															| <svg class="icon icon-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use></svg>
														| Транспортная компания

													.slide-block
														.slide-block__content
															.checkbox-wrap.checkbox-wrap--single
																input.checkbox.checkbox(type="radio", name="tc", id="tc-1")
																label.checkbox-label(for="tc-1")
																	span.checkbox-icon
																		| <svg class="icon icon-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use></svg>
																	span.checkbox__text= 'ТК ”ПЭК” - (Стоимость согласно тарифу)'
															.checkbox-wrap.checkbox-wrap--single
																input.checkbox.checkbox(type="radio", name="tc", id="tc-2")
																label.checkbox-label(for="tc-2")
																	span.checkbox-icon
																		| <svg class="icon icon-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use></svg>
																	span.checkbox__text= 'ТК ”КИТ” - (Стоимость согласно тарифу)'
															.checkbox-wrap.checkbox-wrap--single
																input.checkbox.checkbox(type="radio", name="tc", id="tc-3")
																label.checkbox-label(for="tc-3")
																	span.checkbox-icon
																		| <svg class="icon icon-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use></svg>
																	span.checkbox__text= 'ТК ”Байкал Сервис” - (Стоимость согласно тарифу)'
															.checkbox-wrap.checkbox-wrap--single
																input.checkbox.checkbox(type="radio", name="tc", id="tc-4")
																label.checkbox-label(for="tc-4")
																	span.checkbox-icon
																		| <svg class="icon icon-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use></svg>
																	span.checkbox__text= 'ТК ”Энергия” - (Стоимость согласно тарифу)'

											input.btn.btn--full-blue(type="submit", value= "Оформить заказ")
										fieldset.column.right
											.form-sub-title= 'Способ оплаты:'
											.input-line.input-line--bordered
												.checkbox-wrap.t-inline
													input.checkbox.checkbox--blue(type="radio", name="type", id="individ")
													label.checkbox-label(for="individ")
														span.checkbox-icon
															| <svg class="icon icon-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use></svg>
														| ИП
												.checkbox-wrap.t-inline
													input.checkbox.checkbox--blue(type="radio", name="type", id="organiz")
													label.checkbox-label(for="organiz")
														span.checkbox-icon
															| <svg class="icon icon-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use></svg>
														| ООО
												.checkbox-wrap.t-inline
													input.checkbox.checkbox--blue(type="radio", name="type", id="regular-user")
													label.checkbox-label(for="regular-user")
														span.checkbox-icon
															| <svg class="icon icon-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use></svg>
														| Физ. лицо
											.input-line
												.checkbox-wrap.checkbox-wrap--single
													input.checkbox.c-slide-check(type="radio", name="pay-method", id="bank")
													label.checkbox-label(for="bank")
														span.checkbox-icon
															| <svg class="icon icon-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use></svg>
														| Карта Сбербанк
												.checkbox-wrap.checkbox-wrap--single
													input.checkbox.c-slide-check(type="radio", name="pay-method", id="cash")
													label.checkbox-label(for="cash")
														span.checkbox-icon
															| <svg class="icon icon-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use></svg>
														| Наличные
												.checkbox-wrap.checkbox-wrap--single
													input.checkbox.c-slide-check(type="radio", name="pay-method", id="account")
													label.checkbox-label(for="account")
														span.checkbox-icon
															| <svg class="icon icon-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use></svg>
														| Банковский счет

													.slide-block
														.slide-block__content
															form(action="", method="")
																.input-line
																	input.form-input(type="text", name="inn", placeholder="ИНН:")
																.input-line
																	input.form-input(type="text", name="fio", placeholder="Ф.И.О.:")
																.input-line
																	input.form-input(type="text", name="address", placeholder="Адрес:")
																.clearfix
																	input.right.btn.btn--full-blue.btn--rounded(type="submit", value="Ok")

				<!-- BEGIN clients -->
				section.clients.gray-block
					.container
						.clients__title= 'Наши корпоративные клиенты'
						// слайдер-контейнер
						.slider.slider--full
							// слайдер
							- var n = 0
							.gallery.js-flickity(data-flickity-options='{ "freeScroll": false, "wrapAround": true, "pageDots": false}')
								while n < 3
									.gallery-cell.slider__item
										.clients-wrap
											img.gray-scale(src="images/content/clients/1.jpg", alt="")
											img.color(src="images/content/clients/1-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/2.jpg", alt="")
											img.color(src="images/content/clients/2-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/3.jpg", alt="")
											img.color(src="images/content/clients/3-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/4.jpg", alt="")
											img.color(src="images/content/clients/4-2.jpg", alt="")
									- n++
				<!-- END clients -->
			<!-- END content -->
		<!-- END pagewrap -->
		
		include /blocks/footer.jade