-var title= 'YSG - магазин шапок'
doctype html
html
	head
		include /blocks/links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header-reg-user.jade
			<!-- BEGIN content -->
			.content
				.container
					h1.main-title.main-title--to-main-side= 'Название товара'
					.columns-wrap.clearfix
						aside.aside-part
							.catalog.aside-widget
								.catalog-icon
									| <svg class="icon icon-menu"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-menu"></use></svg>
								a.catalog-title(href="", title="")= 'Каталог'
								ul.catalog-list.list
									each val in ['Новости', 'Распродажа', 'Шапки для мужчин', 'Шапки для женщин', 'Молодежные шапки', 'Детские шапки', 'Весенняя коллеция', 'Аксессуары и атрибутика']
										li.list__item
											.list-icon
												| <svg class="icon icon-right-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-right-arrow"></use></svg>
											a.catalog__link(href="", title="")= val
							.aside-widget.news-aside
								a.sub-title(href="", title="")= 'Новости'
								- var n = 0
								while n < 3
									.news-aside__item
										a.news-aside__title(href="", title="")= 'Запуск новой версии сайта!'
										.news-desc.c-limit-text(data-length="70")= 'Компания YSG представляет обновленную версию сайта. Новые коллекции Компания YSG представляет обновленную версию сайта'
										.news-date
											.date-icon
												| <svg class="icon icon-calendar"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-calendar"></use></svg>
											span= '28.07.2015'
										a.detail-link(href="", title="")= 'Подробнее'
									- n++
							
						.main-part
							.catalog-detail.clearfix
								.column-wide.left
									.detail-slider.left
										.big-image.c-big-image
											img(src="images/content/big-image.jpg", alt="")
										- var n=0
										.thumbs.js-flickity.gallery(data-flickity-options='{ "freeScroll": false, "wrapAround": true, "pageDots": false, "cellAlign": "left",  "imagesLoaded": true}')
											.gallery-cell.thumbs__item
												.thumbs-image.c-thumb(data-big-image="images/content/big-image.jpg")
													img(src="images/content/hats/hat2.jpg", alt="")
											.gallery-cell.thumbs__item
												.thumbs-image.c-thumb(data-big-image="images/content/hats/hat1.jpg")
													img(src="images/content/hats/hat1.jpg", alt="")
											.gallery-cell.thumbs__item
												.thumbs-image.c-thumb(data-big-image="images/content/big-image.jpg")
													img(src="images/content/hats/hat3.jpg", alt="")
											.gallery-cell.thumbs__item
												.thumbs-image.c-thumb(data-big-image="images/content/hats/hat4.jpg")
													img(src="images/content/hats/hat4.jpg", alt="")
											.gallery-cell.thumbs__item
												.thumbs-image.c-thumb(data-big-image="images/content/hats/hat2.jpg")
													img(src="images/content/hats/hat2.jpg", alt="")
									.detail-info.left
										.price
											| Цена - <span class="pink-text">400р.</span>
										.count
											| Количество:
											.counter.clearfix.c-counter
												.counter__btn.c-minus= '-'
												input.counter__text.c-count(type="text", value="1")
												.counter__btn.c-plus= '+'
										.delivery
											.delivery__title= 'Доставка возможна:'
											.delivery__item
												.delivery__icon
													| <svg class="icon icon-big-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-big-check"></use></svg>
												.delivery__text= 'Самовывоз'
											.delivery__item
												.delivery__icon
													| <svg class="icon icon-big-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-big-check"></use></svg>
												.delivery__text= 'EMS(5-14 дней)'
											.delivery__item
												.delivery__icon
													| <svg class="icon icon-big-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-big-check"></use></svg>
												.delivery__text= 'Курьер по Москве (2 дня)'
											.delivery__item
												.delivery__icon
													| <svg class="icon icon-big-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-big-check"></use></svg>
												.delivery__text= 'Транспортная компания'
								.column-thin.right
									.filter-block
										.filter-block__title= 'Доступные цвета:'
										.rounded-select
											select.c-custom-select(data-placeholder="--Цвет--")
												option= ''
												option(val='1')= 'Желтый'
												option(val='2')= 'Бежевый'
												option(val='3')= 'Оранжевый'
												option(val='4')= 'Розовый'
												option(val='5')= 'Серый'
												option(val='6')= 'Фиолетовый'
										.checkbox-wrap.checkbox-wrap--color-small.t-inline
											input.checkbox(type="checkbox", name="color", id="color1")
											label.checkbox-label(for="color1", style="background-color: #ffffdd; border-color: #d2d2d2")
										.checkbox-wrap.checkbox-wrap--color-small.t-inline
											input.checkbox(type="checkbox", name="color", id="color2")
											label.checkbox-label(for="color2", style="background-color: #f6f6c7; border-color: #adad1d")
										.checkbox-wrap.checkbox-wrap--color-small.t-inline
											input.checkbox(type="checkbox", name="color", id="color3")
											label.checkbox-label(for="color3", style="background-color: #f9bf98; border-color: #f27b2c")
										.checkbox-wrap.checkbox-wrap--color-small.t-inline
											input.checkbox(type="checkbox", name="color", id="color4")
											label.checkbox-label(for="color4", style="background-color: #ff9999; border-color: #f72828")
										.checkbox-wrap.checkbox-wrap--color-small.t-inline
											input.checkbox(type="checkbox", name="color", id="color5")
											label.checkbox-label(for="color5", style="background-color: #9e9a9a; border-color: #2c2a2a")
										.checkbox-wrap.checkbox-wrap--color-small.t-inline
											input.checkbox(type="checkbox", name="color", id="color6")
											label.checkbox-label(for="color6", style="background-color: #9b58b5; border-color: #3b0650")
									.filter-block
										.checkbox-wrap
											input.checkbox.checkbox--blue(type="checkbox", name="all-colors", id="all-colors")
											label.checkbox-label(for="all-colors")
												span.checkbox-icon
													| <svg class="icon icon-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use></svg>
												.checkbox__text= 'Все цвета по 1 шт'
									.filter-block
										.stock
											.stock__icon.m-inline
												| <svg class="icon icon-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use></svg>
											.stock-text.m-inline= 'В наличии'
									.filter-block
										.checkbox-wrap
											input.checkbox.checkbox--blue(type="checkbox", name="certificates", id="certificates")
											label.checkbox-label(for="certificates")
												span.checkbox-icon
													| <svg class="icon icon-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use></svg>
												.checkbox__text= 'Вложить сертификаты на продукцию'
									a.btn.btn--full-pink(href="", title="")= 'Добавить в корзину'
								.clearfix
								.properties.clearfix
									.properties__item
										span.properties__type= 'Производитель:'
										| YSG
									.properties__item
										span.properties__type= 'Размер:'
										| Свободный (1 год - 7 лет)
									.properties__item
										span.properties__type= 'Подкладка:'
										| <br> Без дополнительного утепления. <br> Одинарный трикотаж.
									.properties__item
										span.properties__type= 'Рекомендации по уходу:'
										img(src="images/content/bir1.jpg", title="")
										img(src="images/content/bir2.jpg", title="")
										img(src="images/content/bir3.jpg", title="")
										img(src="images/content/bir4.jpg", title="")
									.properties__item
										span.properties__type= 'Состав:'
										| Хлопок 50%, ПАН 50%
							hr
							.editable-text
								p= 'А здесь небольшое описание товара, его сильных сторон и особенностей. А здесь небольшое описание товара, его сильных сторон и особенностей. А здесь небольшое описание товара, его сильных сторон и особенностей. А здесь небольшое описание товара, его сильных сторон и особенностей. А здесь небольшое описание товара, его сильных сторон и особенностей.'
							.suggestions
								.slider__head
									.sub-title.sub-title--big= 'С этим товаром покупают'
								.catalog-list
									- var n = 0
									while n < 4
										.good.t-inline
											.good-image
												img(src="images/content/hats/hat1.jpg", alt="")
												a.absolute-link(href="", title="")
											a.good-title(href="", title="")= 'Название модели'
											.good-price= '400р'
											a.btn.btn--full(href="", title="")= 'В корзину'
										- n++
							
				<!-- BEGIN clients -->
				section.clients.gray-block
					.container
						.clients__title= 'Наши корпоративные клиенты'
						// слайдер-контейнер
						.slider.slider--full
							// слайдер
							- var n = 0
							.gallery.js-flickity(data-flickity-options='{ "freeScroll": false, "wrapAround": true, "pageDots": false}')
								while n < 3
									.gallery-cell.slider__item
										.clients-wrap
											img.gray-scale(src="images/content/clients/1.jpg", alt="")
											img.color(src="images/content/clients/1-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/2.jpg", alt="")
											img.color(src="images/content/clients/2-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/3.jpg", alt="")
											img.color(src="images/content/clients/3-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/4.jpg", alt="")
											img.color(src="images/content/clients/4-2.jpg", alt="")
									- n++
				<!-- END clients -->
			<!-- END content -->
		<!-- END pagewrap -->
		
		include /blocks/footer.jade