-var title= 'YSG - магазин шапок'
doctype html
html
	head
		include /blocks/links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header-reg-user.jade
			<!-- BEGIN content -->
			.content
				.container
					h1.main-title.main-title--to-main-side= 'Заголовок'
					.columns-wrap.clearfix
						aside.aside-part
							.catalog.aside-widget
								.catalog-icon
									| <svg class="icon icon-menu"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-menu"></use></svg>
								a.catalog-title(href="", title="")= 'Каталог'
								ul.catalog-list.list
									each val in ['Новости', 'Распродажа', 'Шапки для мужчин', 'Шапки для женщин', 'Молодежные шапки', 'Детские шапки', 'Весенняя коллеция', 'Аксессуары и атрибутика']
										li.list__item
											.list-icon
												| <svg class="icon icon-right-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-right-arrow"></use></svg>
											a.catalog__link(href="", title="")= val
							.aside-widget.news-aside
								a.sub-title(href="", title="")= 'Новости'
								- var n = 0
								while n < 4
									.news-aside__item
										a.news-aside__title(href="", title="")= 'Запуск новой версии сайта!'
										.news-desc.c-limit-text(data-length="70")= 'Компания YSG представляет обновленную версию сайта. Новые коллекции Компания YSG представляет обновленную версию сайта'
										.news-date
											.date-icon
												| <svg class="icon icon-calendar"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-calendar"></use></svg>
											span= '28.07.2015'
										a.detail-link(href="", title="")= 'Подробнее'
									- n++
							
						.main-part
							.filter.clearfix
								form(action="", method="")
									.column-wide.left
										.filter-block
											.filter-block__title= 'Цена'
											.range-wrap
												.range-input-wrap
													| от
													input.range-from.c-range-from(type='text', readonly)
												.range-input-wrap
													| до
													input.range-to.c-range-to(type='text', readonly)
												.c-range-slider(data-min='0', data-max='4000', data-val-min='500', data-val-max='2500')
										.filter-block
											select.c-custom-select(data-placeholder= 'Размер:')
												option= ''
												option(val='1')= '46-50'
												option(val='2')= '50-54'
												option(val='3')= '56-60'
										.filter-block
											select.c-custom-select(data-placeholder= 'Тип:')
												option= ''
												option(val='1')= 'Детская'
												option(val='2')= 'Мужская'
												option(val='3')= 'Женская'
										.filter-block
											.checkbox-wrap.t-inline
												input.checkbox(type="checkbox", name="hit", id="hit")
												label.checkbox-label(for="hit")
													span.checkbox-icon
														| <svg class="icon icon-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use></svg>
													| Хит продаж
											.checkbox-wrap.t-inline
												input.checkbox(type="checkbox", name="hit", id="sale")
												label.checkbox-label(for="sale")
													span.checkbox-icon
														| <svg class="icon icon-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use></svg>
													| Спецпредложение
											.checkbox-wrap.t-inline
												input.checkbox(type="checkbox", name="hit", id="new")
												label.checkbox-label(for="new")
													span.checkbox-icon
														| <svg class="icon icon-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use></svg>
													| Новинка
									.column-thin.right
										.filter-block
											.filter-block__title= 'Цвет'
											.checkbox-wrap.checkbox-wrap--color.t-inline
												input.checkbox(type="checkbox", name="color", id="color1")
												label.checkbox-label(for="color1", style="background-color: #ffffdd; border-color: #d2d2d2")
											.checkbox-wrap.checkbox-wrap--color.t-inline
												input.checkbox(type="checkbox", name="color", id="color2")
												label.checkbox-label(for="color2", style="background-color: #f6f6c7; border-color: #adad1d")
											.checkbox-wrap.checkbox-wrap--color.t-inline
												input.checkbox(type="checkbox", name="color", id="color3")
												label.checkbox-label(for="color3", style="background-color: #f9bf98; border-color: #f27b2c")
											.checkbox-wrap.checkbox-wrap--color.t-inline
												input.checkbox(type="checkbox", name="color", id="color4")
												label.checkbox-label(for="color4", style="background-color: #ff9999; border-color: #f72828")
											.checkbox-wrap.checkbox-wrap--color.t-inline
												input.checkbox(type="checkbox", name="color", id="color5")
												label.checkbox-label(for="color5", style="background-color: #9e9a9a; border-color: #2c2a2a")
											.checkbox-wrap.checkbox-wrap--color.t-inline
												input.checkbox(type="checkbox", name="color", id="color6")
												label.checkbox-label(for="color6", style="background-color: #9b58b5; border-color: #3b0650")
										.filter-block
											.checkbox-wrap
												input.checkbox(type="checkbox", name="in-stock", id="stock")
												label.checkbox-label(for="stock")
													span.checkbox-icon
														| <svg class="icon icon-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use></svg>
													| В наличии
										input.btn.btn--blue(type="submit", value="Применить фильтр")
							.sort.clearfix
								.sort-type.left
									.m-inline
										| Сортировать по: &nbsp;&nbsp;
									.m-inline.rounded-select
										select.c-custom-select
											option(val='1')= 'Возрастанию цены'
											option(val='2')= 'Убыванию цены'
											option(val='3')= 'Популярности'
								.pagination.right
									a.pagination__link.m-inline.prev(href="", title="", style="display:none")
										| <svg class="icon icon-left-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-left-arrow"></use></svg>
									a.pagination__link.m-inline.active(href="", title="")= '1'
									each val in ['2','3','4','5']
										a.pagination__link.m-inline(href="", title="")= val
									a.pagination__link.m-inline.next(href="", title="")
										| <svg class="icon icon-right-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-right-arrow"></use></svg>
							.catalog-list
								- var n = 0
								while n < 8
									.good.t-inline
										.good-image
											img(src="images/content/hats/hat1.jpg", alt="")
											a.absolute-link(href="", title="")
										a.good-title(href="", title="")= 'Название модели'
										.good-price= '400р'
										a.btn.btn--full(href="", title="")= 'В корзину'
									- n++
							
				<!-- BEGIN clients -->
				section.clients.gray-block
					.container
						.clients__title= 'Наши корпоративные клиенты'
						// слайдер-контейнер
						.slider.slider--full
							// слайдер
							- var n = 0
							.gallery.js-flickity(data-flickity-options='{ "freeScroll": false, "wrapAround": true, "pageDots": false}')
								while n < 3
									.gallery-cell.slider__item
										.clients-wrap
											img.gray-scale(src="images/content/clients/1.jpg", alt="")
											img.color(src="images/content/clients/1-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/2.jpg", alt="")
											img.color(src="images/content/clients/2-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/3.jpg", alt="")
											img.color(src="images/content/clients/3-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/4.jpg", alt="")
											img.color(src="images/content/clients/4-2.jpg", alt="")
									- n++
				<!-- END clients -->
			<!-- END content -->
		<!-- END pagewrap -->
		
		include /blocks/footer.jade