-var title= 'YSG - магазин шапок'
doctype html
html
	head
		include /blocks/links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header-reg-user.jade
			<!-- BEGIN content -->
			.content
				.container
					h1.main-title.main-title--to-main-side= 'Контакты'
					.columns-wrap.clearfix
						aside.aside-part
							.catalog.aside-widget
								.catalog-icon
									| <svg class="icon icon-menu"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-menu"></use></svg>
								a.catalog-title(href="", title="")= 'Каталог'
								ul.catalog-list.list
									each val in ['Новости', 'Распродажа', 'Шапки для мужчин', 'Шапки для женщин', 'Молодежные шапки', 'Детские шапки', 'Весенняя коллеция', 'Аксессуары и атрибутика']
										li.list__item
											.list-icon
												| <svg class="icon icon-right-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-right-arrow"></use></svg>
											a.catalog__link(href="", title="")= val
							.aside-widget.news-aside
								a.sub-title(href="", title="")= 'Новости'
								.news-aside__item
									a.news-aside__title(href="", title="")= 'Запуск новой версии сайта!'
									.news-desc.c-limit-text(data-length="70")= 'Компания YSG представляет обновленную версию сайта. Новые коллекции Компания YSG представляет обновленную версию сайта'
									.news-date
										.date-icon
											| <svg class="icon icon-calendar"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-calendar"></use></svg>
										span= '28.07.2015'
									a.detail-link(href="", title="")= 'Подробнее'
							
						.main-part
							.contacts-page
								.editable-text
									p= 'Здесь текст перед формой с призывом задавать вопросы или сразу звонить. Очень немного предваряющего текста. Здесь текст перед формой с призывом задавать вопросы или сразу звонить. Очень немного предваряющего текста.'
								hr
								.sub-title 
									| Московский департамент фабрики YSG <br>Розничный интернет-магазин головных уборов "YSG-SHOP.RU"
								.contacts-column.wide.wide--first
									.contacts-line
										.contacts-icon
											| <svg class="icon icon-point"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-point"></use></svg>
										.contacts-text= 'Адрес: Москва, Дербеневская наб., д.7'
									.contacts-line
										.contacts-icon
											| <svg class="icon icon-phone2"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-phone2"></use></svg>
										.contacts-text= 'Телефон: 8(499)390-47-29, 8(926)282-42-06'
									.contacts-line
										.contacts-icon
											| <svg class="icon icon-clock-full"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-clock-full"></use></svg>
										.contacts-text= 'Время работы: с 10.00 до 18.00, пн-пт'
								.contacts-column
									.contacts-line
										.contacts-icon
											| <svg class="icon icon-email"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-email"></use></svg>
										.contacts-text= 'E-mail: ysg-shop@yandex.ru'
									.contacts-line
										.contacts-icon
											| <svg class="icon icon-skype"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-skype"></use></svg>
										.contacts-text= 'Skype: ysg-shop'
								hr
								.contacts-column
									.sub-title= 'Адрес производства:'
									.contacts-line
										.contacts-icon
											| <svg class="icon icon-point"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-point"></use></svg>
										.contacts-text= 'Адрес: г. Черкесск, ул. Фрунзе, 136'
									.contacts-line
										.contacts-icon
											| <svg class="icon icon-phone2"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-phone2"></use></svg>
										.contacts-text= 'Телефон: (8782) 27-89-55, 20-01-16'
									.contacts-line
										.contacts-icon
											| <svg class="icon icon-printer"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-printer"></use></svg>
										.contacts-text= 'Факс: (8782) 20-01-37'
									.contacts-line
										.contacts-icon
											| <svg class="icon icon-email"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-email"></use></svg>
										.contacts-text= 'E-mail: ysg@ysg.ru'
									.contacts-line
										.contacts-icon
											| <svg class="icon icon-world"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-world"></use></svg>
										.contacts-text= 'www.ysg.ru'
								.contacts-column.wide
									.sub-title= 'Шоу-рум и пункт самовывоза:'
									.contacts-line
										.contacts-icon
											| <svg class="icon icon-point"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-point"></use></svg>
										.contacts-text= 'Адрес: г. Москва, ТЦ "Южные Ворота", Ж8-39ж'
									.contacts-line
										.contacts-icon
											| <svg class="icon icon-clock-full"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-clock-full"></use></svg>
										.contacts-text= 'Время работы: с 06.00 до 16.00 без выходных'
								hr.pink
								.editable-text
									p= 'Здесь текст перед формой с призывом задавать вопросы или сразу звонить. Очень немного предваряющего текста. Здесь текст перед формой с призывом задавать вопросы или сразу звонить. Очень немного предваряющего текста.'
								.contacts-form
									.sub-title= 'Напишите нам сейчас'
									form(action="", method="")
										.input-line.left
											input.form-input(type="text", name="name", placeholder= "Ваше имя:", data-validation-error-msg="Заполните обязательное поле", data-validation="required")
										.input-line.right
											textarea.form-input.textarea(name="question", placeholder= "Ваш вопрос:", data-validation-error-msg="Заполните обязательное поле", data-validation="required")
										.input-line.left
											input.form-input(type="email", name="email", placeholder= "Ваш e-mail:", data-validation="email", data-validation-error-msg="Введите корректны e-mail или заполните поле")
										.clearfix
										input.btn.btn--full-blue.right(type="submit", value="Отправить сообщение")
							
				<!-- BEGIN clients -->
				section.clients.gray-block
					.container
						.clients__title= 'Наши корпоративные клиенты'
						// слайдер-контейнер
						.slider.slider--full
							// слайдер
							- var n = 0
							.gallery.js-flickity(data-flickity-options='{ "freeScroll": false, "wrapAround": true, "pageDots": false}')
								while n < 3
									.gallery-cell.slider__item
										.clients-wrap
											img.gray-scale(src="images/content/clients/1.jpg", alt="")
											img.color(src="images/content/clients/1-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/2.jpg", alt="")
											img.color(src="images/content/clients/2-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/3.jpg", alt="")
											img.color(src="images/content/clients/3-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/4.jpg", alt="")
											img.color(src="images/content/clients/4-2.jpg", alt="")
									- n++
				<!-- END clients -->
			<!-- END content -->
		<!-- END pagewrap -->
		
		include /blocks/footer.jade