-var title= 'Поиск и заказ лекарств онлайн в аптеках Москвы и РФ с сервисом Zdravcity.ru'
doctype html
html
	head
		include /blocks/links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header-reg-user.jade
			<!-- BEGIN content -->
			.content
				.container
					h1.main-title.main-title--to-main-side= 'Гарантии'
					.columns-wrap.clearfix
						aside.aside-part
							.catalog.aside-widget
								.catalog-icon
									| <svg class="icon icon-menu"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-menu"></use></svg>
								a.catalog-title(href="", title="")= 'Каталог'
								ul.catalog-list.list
									each val in ['Новости', 'Распродажа', 'Шапки для мужчин', 'Шапки для женщин', 'Молодежные шапки', 'Детские шапки', 'Весенняя коллеция', 'Аксессуары и атрибутика']
										li.list__item
											.list-icon
												| <svg class="icon icon-right-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-right-arrow"></use></svg>
											a.catalog__link(href="", title="")= val
							.aside-widget.news-aside
								a.sub-title(href="", title="")= 'Новости'
								.news-aside__item
									a.news-aside__title(href="", title="")= 'Запуск новой версии сайта!'
									.news-desc.c-limit-text(data-length="70")= 'Компания YSG представляет обновленную версию сайта. Новые коллекции Компания YSG представляет обновленную версию сайта'
									.news-date
										.date-icon
											| <svg class="icon icon-calendar"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-calendar"></use></svg>
										span= '28.07.2015'
									a.detail-link(href="", title="")= 'Подробнее'
							
						.main-part
							.seo-text= 'Компания YSG (ЮСГ) вот уже 15 лет создает головные уборы. Наряду с технологами производства над созданием трикотажных изделий круглый год трудится команда дизайнеров и стилистов. За годы успешной работы мы научились правильно отвечать требованиям мировых тенденции моды и стиля.'
							hr
							.guarantee.clearfix
								.guarantee__item
									.guarantee__icon
										| <svg class="icon icon-reward2"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-reward2"></use></svg>
									.guarantee__text= 'Гарантия и ее расшифровка не больше чем на пару строк'
								.guarantee__item
									.guarantee__icon
										| <svg class="icon icon-reward2"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-reward2"></use></svg>
									.guarantee__text= 'Гарантия и ее расшифровка не больше чем на пару строк'
								.guarantee__item
									.guarantee__icon
										| <svg class="icon icon-reward2"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-reward2"></use></svg>
									.guarantee__text= 'Гарантия и ее расшифровка не больше чем на пару строк'
								.guarantee__item
									.guarantee__icon
										| <svg class="icon icon-reward2"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-reward2"></use></svg>
									.guarantee__text= 'Гарантия и ее расшифровка не больше чем на пару строк'
								.guarantee__item
									.guarantee__icon
										| <svg class="icon icon-reward2"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-reward2"></use></svg>
									.guarantee__text= 'Гарантия и ее расшифровка не больше чем на пару строк'
								.guarantee__item
									.guarantee__icon
										| <svg class="icon icon-reward2"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-reward2"></use></svg>
									.guarantee__text= 'Гарантия и ее расшифровка не больше чем на пару строк. А может и больше. Строки на четыре если. Ну большой текст, что тут сделаешь.'
							hr
							.editable-text
								p= 'В случае, если головной убор не подошел Вам по размеру или цвету, мы готовы принять их обратно в течении 14 дней и вернуть Вам деньги.'
								p= 'Данное правило закреплено в законе о  правах потребителей, согласно которому полный возврат денег осуществляется в случаях, если головной убор сохранил товарный вид, Вы его не носили и упаковка не была повреждена.'
								p
									| Для возврата звоните нам по будням 8(499)390-47-29 с 10.00 до 18.00 или пишите на <a href="mainto:ysg-shop@yandex.ru">ysg-shop@yandex.ru</a> с пометкой "возврат товара".'
								p= 'Компания YSG (ЮСГ) вот уже 15 лет создает головные уборы. Наряду с технологами производства над созданием трикотажных изделий круглый год трудится команда дизайнеров и стилистов. За годы успешной работы мы научились правильно отвечать требованиям мировых тенденции моды и стиля.'

				<!-- BEGIN clients -->
				section.clients.gray-block
					.container
						.clients__title= 'Наши корпоративные клиенты'
						// слайдер-контейнер
						.slider.slider--full
							// слайдер
							- var n = 0
							.gallery.js-flickity(data-flickity-options='{ "freeScroll": false, "wrapAround": true, "pageDots": false}')
								while n < 3
									.gallery-cell.slider__item
										.clients-wrap
											img.gray-scale(src="images/content/clients/1.jpg", alt="")
											img.color(src="images/content/clients/1-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/2.jpg", alt="")
											img.color(src="images/content/clients/2-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/3.jpg", alt="")
											img.color(src="images/content/clients/3-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/4.jpg", alt="")
											img.color(src="images/content/clients/4-2.jpg", alt="")
									- n++
				<!-- END clients -->
			<!-- END content -->
		<!-- END pagewrap -->
		
		include /blocks/footer.jade