-var title= 'Поиск и заказ лекарств онлайн в аптеках Москвы и РФ с сервисом Zdravcity.ru'
doctype html
html
	head
		include /blocks/links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header-reg-user2.jade
			<!-- BEGIN content -->
			.content
				.container
					h1.main-title= 'ПРОДАЖА ТРИКОТАЖНЫХ ШАПОК ОТ ПРОИЗВОДИТЕЛЯ МЕЛКИМ ОПТОМ ПО ВСЕЙ РОССИИ'
					.columns-wrap.clearfix
						aside.aside-part.aside-part--full-title
							.catalog.aside-widget
								.catalog-icon
									| <svg class="icon icon-menu"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-menu"></use></svg>
								a.catalog-title(href="", title="")= 'Каталог'
								ul.catalog-list.list
									each val in ['Новости', 'Распродажа', 'Шапки для мужчин', 'Шапки для женщин', 'Молодежные шапки', 'Детские шапки', 'Весенняя коллеция', 'Аксессуары и атрибутика']
										li.list__item
											.list-icon
												| <svg class="icon icon-right-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-right-arrow"></use></svg>
											a.catalog__link(href="", title="")= val
							.aside-widget.news-aside
								- var n = 0
								a.sub-title(href="", title="")= 'Новости'
								while n < 5
									.news-aside__item

										a.news-aside__title(href="", title="")= 'Запуск новой версии сайта!'
										.news-desc.c-limit-text(data-length="70")= 'Компания YSG представляет обновленную версию сайта. Новые коллекции Компания YSG представляет обновленную версию сайта'
										.news-date
											.date-icon
												| <svg class="icon icon-calendar"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-calendar"></use></svg>
											span= '28.07.2015'
										a.detail-link(href="", title="")= 'Подробнее'
									- n++
							
						.main-part
							.main-banner.main-banner--red
								a.absolute-link(href="", title="Посмотреть предложение")
								.main-banner__content
									.main-banner__title= 'Заголовок рекламного баннера о компании'
									.main-banner__text= 'Краткое описание рекламы или выгодного предложения'
								.main-banner__img
									img(src="images/content/main-banner2.png", title="")
								.b-banner-btn= 'Начните выбирать прямо сейчас!'
								
							.company-desc
								.sub-title.sub-title--blue= 'Коротко о компании'
								p= 'Компания YSG (ЮСГ) вот уже 15 лет создает головные уборы. Наряду с технологами производства над созданием трикотажных изделий круглый год трудится команда дизайнеров и стилистов. За годы успешной работы мы научились правильно отвечать требованиям мировых тенденции моды и стиля.'
							
							.slider
								.slider__head.clearfix
									.sub-title= 'Наши новинки'
									.right.slider__actions
										a.btn-square(href="", title="")= 'Все модели'
								- var n=0
								.slider__body.js-flickity.gallery(data-flickity-options='{ "freeScroll": false, "wrapAround": true, "pageDots": false, "cellAlign": "left" }')
									while n < 2
										.gallery-cell.slider__item.good
											.good-image
												img(src="images/content/hats/hat1.jpg", alt="")
												a.absolute-link(href="", title="")
											a.good-title(href="", title="")= 'Название модели'
											.good-price= '400р'
											a.btn.btn--full(href="", title="")= 'В корзину'
										.gallery-cell.slider__item.good
											.good-image
												img(src="images/content/hats/hat2.jpg", alt="")
												a.absolute-link(href="", title="")
											a.good-title(href="", title="")= 'Название модели'
											.good-price= '400р'
											a.btn.btn--full(href="", title="")= 'В корзину'
										.gallery-cell.slider__item.good
											.good-image
												img(src="images/content/hats/hat3.jpg", alt="")
												a.absolute-link(href="", title="")
											a.good-title(href="", title="")= 'Название модели длинное на две строки'
											.good-price= '400р'
											a.btn.btn--full(href="", title="")= 'В корзину'
										.gallery-cell.slider__item.good
											.good-image
												img(src="images/content/hats/hat4.jpg", alt="")
												a.absolute-link(href="", title="")
											a.good-title(href="", title="")= 'Название модели'
											.good-price= '400р'
											a.btn.btn--full(href="", title="")= 'В корзину'
										- n++
										
							.slider
								.slider__head.clearfix
									.sub-title= 'Популярные модели'
									.right.slider__actions
										a.btn-square(href="", title="")= 'Все модели'
								- var n=0
								.slider__body.js-flickity.gallery(data-flickity-options='{ "freeScroll": false, "wrapAround": true, "pageDots": false, "cellAlign": "left" }')
									while n < 5
										.gallery-cell.slider__item.good
											.good-image
												img(src="images/content/hats/hat2.jpg", alt="")
												a.absolute-link(href="", title="")
											a.good-title(href="", title="")= 'Название модели'
											.good-price= '400р'
											a.btn.btn--full(href="", title="")= 'В корзину'
										- n++
				<!-- BEGIN clients -->
				section.clients.gray-block
					.container
						.clients__title= 'Наши корпоративные клиенты'
						// слайдер-контейнер
						.slider.slider--full
							// слайдер
							- var n = 0
							.gallery.js-flickity(data-flickity-options='{ "freeScroll": false, "wrapAround": true, "pageDots": false}')
								while n < 3
									.gallery-cell.slider__item
										.clients-wrap
											img.gray-scale(src="images/content/clients/1.jpg", alt="")
											img.color(src="images/content/clients/1-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/2.jpg", alt="")
											img.color(src="images/content/clients/2-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/3.jpg", alt="")
											img.color(src="images/content/clients/3-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/4.jpg", alt="")
											img.color(src="images/content/clients/4-2.jpg", alt="")
									- n++
				<!-- END clients -->
			<!-- END content -->
		<!-- END pagewrap -->
		
		include /blocks/footer.jade