-var title= 'YSG - магазин шапок'
doctype html
html
	head
		include /blocks/links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header-landing.jade
			<!-- BEGIN content -->
			.content
				.landing-banner
					.landing-image
						img(src="images/content/landing.jpg", alt="")
					.container.landing-content
						.landing-title= 'ПРОДАЖА ТРИКОТАЖНЫХ ШАПОК ОПТОМ И В РОЗНИЦУ ПО ВСЕЙ РОССИИ Официальный интернет-магазин фабрики YSG'
						.editable-text
							p= 'Здесь немного текста о том, что мы продаем шапки мелким оптом и в розницу и о том, что для оптовых покупателей необходима регистрация. Здесь немного текста о том, что мы продаем шапки мелким оптом и в розницу и о том, что для оптовых покупателей необходима регистрация.'
						.landing-columns
							.column
								.column__title= 'Оптовым покупателям'
								a.btn(href="", title="")= 'Зарегистрироваться на оптовом сайте'
								.contacts-line
									.contacts-icon
										| <svg class="icon icon-round-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-round-check"></use></svg>
									.contacts-text= 'Выгода и ее краткое описание на пару строк и не больше'
								.contacts-line
									.contacts-icon
										| <svg class="icon icon-round-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-round-check"></use></svg>
									.contacts-text= 'Выгода и ее краткое описание на пару строк и не больше'
								.contacts-line
									.contacts-icon
										| <svg class="icon icon-round-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-round-check"></use></svg>
									.contacts-text= 'Выгода и ее краткое описание на пару строк и не больше'
								.contacts-line
									.contacts-icon
										| <svg class="icon icon-round-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-round-check"></use></svg>
									.contacts-text= 'Выгода и ее краткое описание на пару строк и не больше'
								.contacts-line
									.contacts-icon
										| <svg class="icon icon-round-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-round-check"></use></svg>
									.contacts-text= 'Выгода и ее краткое описание на пару строк и не больше'
							.column.column--last
								.column__title= 'Розничным покупателям'
								a.btn(href="", title="")= 'Перейти в интернет-магазин'
								.contacts-line
									.contacts-icon
										| <svg class="icon icon-round-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-round-check"></use></svg>
									.contacts-text= 'Выгода и ее краткое описание на пару строк и не больше'
								.contacts-line
									.contacts-icon
										| <svg class="icon icon-round-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-round-check"></use></svg>
									.contacts-text= 'Выгода и ее краткое описание на пару строк и не больше'
								.contacts-line
									.contacts-icon
										| <svg class="icon icon-round-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-round-check"></use></svg>
									.contacts-text= 'Выгода и ее краткое описание на пару строк и не больше'
								.contacts-line
									.contacts-icon
										| <svg class="icon icon-round-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-round-check"></use></svg>
									.contacts-text= 'Выгода и ее краткое описание на пару строк и не больше Выгода и ее краткое описание на пару строк и не больше'
				.achievements
					.achievements__item
						.achievements__icon
							| <svg class="icon icon-round-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-round-check"></use></svg>
						.achievements__text= '1 264 589 шапок продано за прошлый год'
					.achievements__item
						.achievements__icon
							| <svg class="icon icon-round-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-round-check"></use></svg>
						.achievements__text= 'Более 5 000 владельцев торговых павильонов выбирают нашу продукцию'
					.achievements__item
						.achievements__icon
							| <svg class="icon icon-round-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-round-check"></use></svg>
						.achievements__text= 'Более 3 500 торговых павильонов с нашей продукцией по всей России и СНГ'
					.achievements__item
						.achievements__icon
							| <svg class="icon icon-round-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-round-check"></use></svg>
						.achievements__text= '100-150% минимальная маржинальность нашего товара'
				.popular
					.container
						.popular__title= 'Наши самые популярные модели'
						.popular__subtitle= 'Доступны оптом и в розницу'
						.slider
							- var n=0
							.slider__body.js-flickity.gallery(data-flickity-options='{ "freeScroll": false, "wrapAround": true, "pageDots": true, "cellAlign": "left" }')
								while n < 2
									.gallery-cell.slider__item.good
										.good-image
											img(src="images/content/hats/hat5.jpg", alt="")
											a.absolute-link(href="", title="")
										a.good-title(href="", title="")= 'Название модели'
										a.btn.btn--full(href="", title="")= 'Узнать цену'
									.gallery-cell.slider__item.good
										.good-image
											img(src="images/content/hats/hat5.jpg", alt="")
											a.absolute-link(href="", title="")
										a.good-title(href="", title="")= 'Название модели'
										a.btn.btn--full(href="", title="")= 'Узнать цену'
									.gallery-cell.slider__item.good
										.good-image
											img(src="images/content/hats/hat5.jpg", alt="")
											a.absolute-link(href="", title="")
										a.good-title(href="", title="")= 'Название модели длинное на две строки'
										a.btn.btn--full(href="", title="")= 'Узнать цену'
									.gallery-cell.slider__item.good
										.good-image
											img(src="images/content/hats/hat5.jpg", alt="")
											a.absolute-link(href="", title="")
										a.good-title(href="", title="")= 'Название модели'
										a.btn.btn--full(href="", title="")= 'Узнать цену'
									- n++

				.seo-block
					.container
						.popular__title= 'ПОКУПАТЬ У НАС – ВЫГОДНО И УДОБНО!'
						.contacts-line.contacts-line--left
							.contacts-icon
								| <svg class="icon icon-round-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-round-check"></use></svg>
							.contacts-text= 'Выгода компании и ее краткое описание на пару строк и не больше'
						.contacts-line
							.contacts-icon
								| <svg class="icon icon-round-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-round-check"></use></svg>
							.contacts-text= 'Выгода компании и ее краткое описание на пару строк и не больше'
						.contacts-line.contacts-line--left
							.contacts-icon
								| <svg class="icon icon-round-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-round-check"></use></svg>
							.contacts-text= 'Выгода компании и ее краткое описание на пару строк и не больше'
						.contacts-line
							.contacts-icon
								| <svg class="icon icon-round-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-round-check"></use></svg>
							.contacts-text= 'Выгода компании и ее краткое описание на пару строк и не больше Выгода компании и ее краткое описание на пару строк и не больше'
						.contacts-line.contacts-line--left
							.contacts-icon
								| <svg class="icon icon-round-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-round-check"></use></svg>
							.contacts-text= 'Выгода компании и ее краткое описание на пару строк и не больше'
						.contacts-line
							.contacts-icon
								| <svg class="icon icon-round-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-round-check"></use></svg>
							.contacts-text= 'Выгода компании и ее краткое описание на пару строк и не больше'
						.contacts-line.contacts-line--left
							.contacts-icon
								| <svg class="icon icon-round-check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-round-check"></use></svg>
							.contacts-text= 'Выгода компании и ее краткое описание на пару строк и не больше'
							
				<!-- BEGIN clients -->
				section.clients
					.container
						.clients__title= 'Наши корпоративные клиенты'
						// слайдер-контейнер
						.slider.slider--full
							// слайдер
							- var n = 0
							.gallery.js-flickity(data-flickity-options='{ "freeScroll": false, "wrapAround": true, "pageDots": false}')
								while n < 3
									.gallery-cell.slider__item
										.clients-wrap
											img.gray-scale(src="images/content/clients/1.jpg", alt="")
											img.color(src="images/content/clients/1-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/2.jpg", alt="")
											img.color(src="images/content/clients/2-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/3.jpg", alt="")
											img.color(src="images/content/clients/3-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/4.jpg", alt="")
											img.color(src="images/content/clients/4-2.jpg", alt="")
									- n++
				<!-- END clients -->
			<!-- END content -->
		<!-- END pagewrap -->
		
		include /blocks/footer.jade