-var title= 'YSG - магазин шапок'
doctype html
html
	head
		include /blocks/links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header-reg-user.jade
			<!-- BEGIN content -->
			.content
				.container
					h1.main-title.main-title--to-main-side= 'Личный кабинет'
					.columns-wrap.clearfix
						aside.aside-part
							.catalog.aside-widget
								.catalog-icon
									| <svg class="icon icon-menu"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-menu"></use></svg>
								a.catalog-title(href="", title="")= 'Каталог'
								ul.catalog-list.list
									each val in ['Новости', 'Распродажа', 'Шапки для мужчин', 'Шапки для женщин', 'Молодежные шапки', 'Детские шапки', 'Весенняя коллеция', 'Аксессуары и атрибутика']
										li.list__item
											.list-icon
												| <svg class="icon icon-right-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-right-arrow"></use></svg>
											a.catalog__link(href="", title="")= val
							
						.main-part
							.editable-text
								p= 'Здесь текст перед формой с призывом задавать вопросы или сразу звонить. Очень немного предваряющего текста. Здесь текст перед формой с призывом задавать вопросы или сразу звонить. Очень немного предваряющего текста.'
							hr
							.lk
								.lk-actions.clearfix
									a.btn.btn--full-blue(href="", title="")= 'Изменить личные данные'
									.lk-actions__block.right
										.lk-icon.m-inline
											| <svg class="icon icon-cart2"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cart2"></use></svg>
										.lk-actions__text.m-inline
											| Мои заказы:
											a.lk-actions__link(href="", title="")= '2 заказа'
									.lk-actions__block.right
										.lk-icon.m-inline
											| <svg class="icon icon-money2"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-money2"></use></svg>
										.lk-actions__text.m-inline
											| Мой счет:
											a.lk-actions__link(href="", title="")= '570р'
								.lk-balance
									table.full-table
										thead
											tr
												th= 'Дата'
												th.center= 'Ваша задолженность'
												th= 'Комментарий'
										tbody
											tr
												td
													.date= '27.06.2015'
												td.center
													.debt= '0 р'
												td
													.order= 'за заказ №1'
											tr
												td
													.date= '27.06.2015'
												td.center
													.debt.active= '500 р'
												td
													.order.active= 'за заказ №2'
							
				<!-- BEGIN clients -->
				section.clients.gray-block
					.container
						.clients__title= 'Наши корпоративные клиенты'
						// слайдер-контейнер
						.slider.slider--full
							// слайдер
							- var n = 0
							.gallery.js-flickity(data-flickity-options='{ "freeScroll": false, "wrapAround": true, "pageDots": false}')
								while n < 3
									.gallery-cell.slider__item
										.clients-wrap
											img.gray-scale(src="images/content/clients/1.jpg", alt="")
											img.color(src="images/content/clients/1-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/2.jpg", alt="")
											img.color(src="images/content/clients/2-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/3.jpg", alt="")
											img.color(src="images/content/clients/3-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/4.jpg", alt="")
											img.color(src="images/content/clients/4-2.jpg", alt="")
									- n++
				<!-- END clients -->
			<!-- END content -->
		<!-- END pagewrap -->
		
		include /blocks/footer.jade