-var title= 'YSG - магазин шапок'
doctype html
html
	head
		include /blocks/links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header-reg-user.jade
			<!-- BEGIN content -->
			.content
				.container
					h1.main-title.main-title--to-main-side= 'Личный кабинет'
					.columns-wrap.clearfix
						aside.aside-part
							.catalog.aside-widget
								.catalog-icon
									| <svg class="icon icon-menu"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-menu"></use></svg>
								a.catalog-title(href="", title="")= 'Каталог'
								ul.catalog-list.list
									each val in ['Новости', 'Распродажа', 'Шапки для мужчин', 'Шапки для женщин', 'Молодежные шапки', 'Детские шапки', 'Весенняя коллеция', 'Аксессуары и атрибутика']
										li.list__item
											.list-icon
												| <svg class="icon icon-right-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-right-arrow"></use></svg>
											a.catalog__link(href="", title="")= val
							.aside-widget.news-aside
								a.sub-title(href="", title="")= 'Новости'
								.news-aside__item
									a.news-aside__title(href="", title="")= 'Запуск новой версии сайта!'
									.news-desc.c-limit-text(data-length="70")= 'Компания YSG представляет обновленную версию сайта. Новые коллекции Компания YSG представляет обновленную версию сайта'
									.news-date
										.date-icon
											| <svg class="icon icon-calendar"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-calendar"></use></svg>
										span= '28.07.2015'
									a.detail-link(href="", title="")= 'Подробнее'
							
						.main-part
							.editable-text
								p= 'Здесь текст перед формой с призывом задавать вопросы или сразу звонить. Очень немного предваряющего текста. Здесь текст перед формой с призывом задавать вопросы или сразу звонить. Очень немного предваряющего текста.'
							hr
							.lk
								.lk-actions.clearfix
									a.btn.btn--full-blue(href="", title="")= 'Изменить личные данные'
									.lk-actions__block.right
										.lk-icon.m-inline
											| <svg class="icon icon-cart2"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cart2"></use></svg>
										.lk-actions__text.m-inline
											| Мои заказы:
											a.lk-actions__link(href="", title="")= '2 заказа'
									.lk-actions__block.right
										.lk-icon.m-inline
											| <svg class="icon icon-money2"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-money2"></use></svg>
										.lk-actions__text.m-inline
											| Мой счет:
											a.lk-actions__link(href="", title="")= '570р'

								.lk__detail
									form(action="", method="")
										.form-fieldset
											.input-line.b-inline
												label.form-label= 'Ваш e-mail'
												a.lk-edit-link.right.c-activate-input(href="", title="")
													span.lk-edit-link__icon
														| <svg class="icon icon-pen"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pen"></use></svg> 
													span.lk-edit-link__text= 'Изменить'
												input.form-input.c-disabled-input(type="email", name="email", value="example@mail.ru", disabled)
											.input-line.b-inline
												input.form-input(type="text", name="fio", placeholder="Ваше ФИО:")
											.input-line.b-inline
												label.form-label= 'Ваш телефон'
												a.lk-edit-link.right.c-activate-input(href="", title="")
													span.lk-edit-link__icon
														| <svg class="icon icon-pen"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pen"></use></svg> 
													span.lk-edit-link__text= 'Изменить'
												input.form-input.c-disabled-input(type="text", name="phone", value="89999999999", disabled)
											.input-line.b-inline
												input.form-input(type="text", name="company", placeholder="Название компании:")
											.input-line.b-inline
												label.form-label= 'Ваш пароль'
												a.lk-edit-link.right.c-activate-input(href="", title="")
													span.lk-edit-link__icon
														| <svg class="icon icon-pen"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pen"></use></svg> 
													span.lk-edit-link__text= 'Изменить'
												input.form-input.c-disabled-input(type="password", name="pass", value="123456", disabled)
										hr
										label.form-label.form-label--block= 'Доставка'
										.form-fieldset
											.input-line.b-inline
												input.form-input(type="text", name="city", placeholder="Город доставки:")
											.input-line.b-inline
												input.form-input(type="text", name="postcode", placeholder="Почтовый индекс:")
											.input-line.b-inline
												select.c-custom-select(data-placeholder= 'Транспортная компания:')
													option= ''
													option(val='1')= 'CDEK'
													option(val='2')= 'Деловые линии'
											.input-line.b-inline
												input.form-input(type="text", name="address", placeholder="Адрес доставки:")
										input.btn.btn--full-blue(type="submit", value= "Сохранит изменения")
							
				<!-- BEGIN clients -->
				section.clients.gray-block
					.container
						.clients__title= 'Наши корпоративные клиенты'
						// слайдер-контейнер
						.slider.slider--full
							// слайдер
							- var n = 0
							.gallery.js-flickity(data-flickity-options='{ "freeScroll": false, "wrapAround": true, "pageDots": false}')
								while n < 3
									.gallery-cell.slider__item
										.clients-wrap
											img.gray-scale(src="images/content/clients/1.jpg", alt="")
											img.color(src="images/content/clients/1-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/2.jpg", alt="")
											img.color(src="images/content/clients/2-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/3.jpg", alt="")
											img.color(src="images/content/clients/3-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/4.jpg", alt="")
											img.color(src="images/content/clients/4-2.jpg", alt="")
									- n++
				<!-- END clients -->
			<!-- END content -->
		<!-- END pagewrap -->
		
		include /blocks/footer.jade