-var title= 'YSG - магазин шапок'
doctype html
html
	head
		include /blocks/links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header-reg-user.jade
			<!-- BEGIN content -->
			.content
				.container
					h1.main-title.main-title--to-main-side= 'Статьи и новости'
					.columns-wrap.clearfix
						aside.aside-part
							.catalog.aside-widget
								.catalog-icon
									| <svg class="icon icon-menu"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-menu"></use></svg>
								a.catalog-title(href="", title="")= 'Каталог'
								ul.catalog-list.list
									each val in ['Новости', 'Распродажа', 'Шапки для мужчин', 'Шапки для женщин', 'Молодежные шапки', 'Детские шапки', 'Весенняя коллеция', 'Аксессуары и атрибутика']
										li.list__item
											.list-icon
												| <svg class="icon icon-right-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-right-arrow"></use></svg>
											a.catalog__link(href="", title="")= val

						.main-part
							.editable-text
								p= 'Здесь будет текст, о том, какие интересные новости и статьи можно найти у нас на сайте. Здесь будет текст, о том, какие интересные новости и статьи можно найти у нас на сайте. Здесь будет текст, о том, какие интересные новости и статьи можно найти у нас на сайте.'
							hr
							.articles-wrap.clearfix
								.news-aside.left
									.sub-title= 'Новости:'
									.news-aside__item
										a.news-aside__title(href="", title="")= 'Запуск новой версии сайта!'
										.news-desc.c-limit-text(data-length="70")= 'Компания YSG представляет обновленную версию сайта. Новые коллекции Компания YSG представляет обновленную версию сайта'
										.news-date
											.date-icon
												| <svg class="icon icon-calendar"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-calendar"></use></svg>
											span= '28.07.2015'
										a.detail-link(href="", title="")= 'Подробнее'
									.news-aside__item
										a.news-aside__title(href="", title="")= 'Запуск новой версии сайта!'
										.news-desc.c-limit-text(data-length="70")= 'Компания YSG представляет обновленную версию сайта. Новые коллекции Компания YSG представляет обновленную версию сайта'
										.news-date
											.date-icon
												| <svg class="icon icon-calendar"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-calendar"></use></svg>
											span= '28.07.2015'
										a.detail-link(href="", title="")= 'Подробнее'
									.news-aside__item
										a.news-aside__title(href="", title="")= 'Запуск новой версии сайта!'
										.news-desc.c-limit-text(data-length="70")= 'Компания YSG представляет обновленную версию сайта. Новые коллекции Компания YSG представляет обновленную версию сайта'
										.news-date
											.date-icon
												| <svg class="icon icon-calendar"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-calendar"></use></svg>
											span= '28.07.2015'
										a.detail-link(href="", title="")= 'Подробнее'
									.news-aside__item
										a.news-aside__title(href="", title="")= 'Запуск новой версии сайта!'
										.news-desc.c-limit-text(data-length="70")= 'Компания YSG представляет обновленную версию сайта. Новые коллекции Компания YSG представляет обновленную версию сайта'
										.news-date
											.date-icon
												| <svg class="icon icon-calendar"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-calendar"></use></svg>
											span= '28.07.2015'
										a.detail-link(href="", title="")= 'Подробнее'
								.news-aside.news-aside--article-mod.right
									.sub-title= 'Статьи:'
									.news-aside__item
										.news-image.t-inline
											a(href="", title="")
												img(src="images/content/article-image.jpg", alt="")
										.news-content.t-inline
											a.news-aside__title(href="", title="")= 'Запуск новой версии сайта!'
											.news-desc.c-limit-text(data-length="70")= 'Компания YSG представляет обновленную версию сайта. Новые коллекции Компания YSG представляет обновленную версию сайта'
											.news-date
												.date-icon
													| <svg class="icon icon-calendar"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-calendar"></use></svg>
												span= '28.07.2015'
											a.detail-link(href="", title="")= 'Подробнее'
									.news-aside__item
										.news-image.t-inline
											a(href="", title="")
												img(src="images/content/article-image.jpg", alt="")
										.news-content.t-inline
											a.news-aside__title(href="", title="")= 'Запуск новой версии сайта!'
											.news-desc.c-limit-text(data-length="70")= 'Компания YSG представляет обновленную версию сайта. Новые коллекции Компания YSG представляет обновленную версию сайта'
											.news-date
												.date-icon
													| <svg class="icon icon-calendar"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-calendar"></use></svg>
												span= '28.07.2015'
											a.detail-link(href="", title="")= 'Подробнее'
									.news-aside__item
										.news-image.t-inline
											a(href="", title="")
												img(src="images/content/article-image.jpg", alt="")
										.news-content.t-inline
											a.news-aside__title(href="", title="")= 'Запуск новой версии сайта!'
											.news-desc.c-limit-text(data-length="70")= 'Компания YSG представляет обновленную версию сайта. Новые коллекции Компания YSG представляет обновленную версию сайта'
											.news-date
												.date-icon
													| <svg class="icon icon-calendar"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-calendar"></use></svg>
												span= '28.07.2015'
											a.detail-link(href="", title="")= 'Подробнее'
									.news-aside__item
										.news-image.t-inline
											a(href="", title="")
												img(src="images/content/article-image.jpg", alt="")
										.news-content.t-inline
											a.news-aside__title(href="", title="")= 'Запуск новой версии сайта!'
											.news-desc.c-limit-text(data-length="70")= 'Компания YSG представляет обновленную версию сайта. Новые коллекции Компания YSG представляет обновленную версию сайта'
											.news-date
												.date-icon
													| <svg class="icon icon-calendar"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-calendar"></use></svg>
												span= '28.07.2015'
											a.detail-link(href="", title="")= 'Подробнее'
							
							.pagination
								a.pagination__link.m-inline.prev(href="", title="", style="display:none")
									| <svg class="icon icon-left-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-left-arrow"></use></svg>
								a.pagination__link.m-inline.active(href="", title="")= '1'
								each val in ['2','3','4','5']
									a.pagination__link.m-inline(href="", title="")= val
								a.pagination__link.m-inline.next(href="", title="")
									| <svg class="icon icon-right-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-right-arrow"></use></svg>

							
				<!-- BEGIN clients -->
				section.clients.gray-block
					.container
						.clients__title= 'Наши корпоративные клиенты'
						// слайдер-контейнер
						.slider.slider--full
							// слайдер
							- var n = 0
							.gallery.js-flickity(data-flickity-options='{ "freeScroll": false, "wrapAround": true, "pageDots": false}')
								while n < 3
									.gallery-cell.slider__item
										.clients-wrap
											img.gray-scale(src="images/content/clients/1.jpg", alt="")
											img.color(src="images/content/clients/1-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/2.jpg", alt="")
											img.color(src="images/content/clients/2-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/3.jpg", alt="")
											img.color(src="images/content/clients/3-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/4.jpg", alt="")
											img.color(src="images/content/clients/4-2.jpg", alt="")
									- n++
				<!-- END clients -->
			<!-- END content -->
		<!-- END pagewrap -->
		
		include /blocks/footer.jade