-var title= 'Поиск и заказ лекарств онлайн в аптеках Москвы и РФ с сервисом Zdravcity.ru'
doctype html
html
	head
		include /blocks/links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header-reg-user.jade
			<!-- BEGIN content -->
			.content
				.container
					h1.main-title.main-title--to-main-side= 'Название новости'
					.columns-wrap.clearfix
						aside.aside-part
							.catalog.aside-widget
								.catalog-icon
									| <svg class="icon icon-menu"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-menu"></use></svg>
								a.catalog-title(href="", title="")= 'Каталог'
								ul.catalog-list.list
									each val in ['Новости', 'Распродажа', 'Шапки для мужчин', 'Шапки для женщин', 'Молодежные шапки', 'Детские шапки', 'Весенняя коллеция', 'Аксессуары и атрибутика']
										li.list__item
											.list-icon
												| <svg class="icon icon-right-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-right-arrow"></use></svg>
											a.catalog__link(href="", title="")= val
							.aside-widget.news-aside
								a.sub-title(href="", title="")= 'Новости'
								.news-aside__item
									a.news-aside__title(href="", title="")= 'Запуск новой версии сайта!'
									.news-desc.c-limit-text(data-length="70")= 'Компания YSG представляет обновленную версию сайта. Новые коллекции Компания YSG представляет обновленную версию сайта'
									.news-date
										.date-icon
											| <svg class="icon icon-calendar"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-calendar"></use></svg>
										span= '28.07.2015'
									a.detail-link(href="", title="")= 'Подробнее'
							
						.main-part
							.editable-text.justify-text
								img(src="images/content/news.jpg")
								p= 'Такой элемент одежды вмиг стал знаковым аксессуаром коллекции Jil Sander. В её интерпретации шапочка дополняет образ в стиле ретро, относящийся к тенденции Dolce Vita. Посредствам интернет ресурсов можно будет просмотреть, как же выглядит эта новинка в стритстайл-версии, а также сравнить её с вариантами, предоставленными на подиуме. Anna Dello Russo решила воспроизвести один из образов в ретро стиле с показа. Не останавливаясь на одном, она также решила поэкспериментировать и с другими стилями.'
								p= 'Такой элемент одежды вмиг стал знаковым аксессуаром коллекции Jil Sander. В её интерпретации шапочка дополняет образ в стиле ретро, относящийся к тенденции Dolce Vita. Посредствам интернет ресурсов можно будет просмотреть, как же выглядит эта новинка в стритстайл-версии, а также сравнить её с вариантами, предоставленными на подиуме. Anna Dello Russo решила воспроизвести один из образов в ретро стиле с показа. Не останавливаясь на одном, она также решила поэкспериментировать и с другими стилями. В сети также существуют фото вариантов шапочки с вуалью от модели Hanne Gaby Odiele и масса прочих интересных streetstyle-версий. А модный блоггер под псевдонимом BryanBoy вообще решил, что эта новинка придётся по вкусу и мужчинам, которые непременно пополнят ей свой гардероб. Может где-то он и прав, ведь у каждого свои предпочтения и вкусы, а поле экспериментов сейчас крайне обширно и вполне возможно, что парень добьётся своего. Задумайтесь над тем, каковы ваши мысли и рассуждения на счёт этого головного убора и какие варианты в сети интернет вам пришлись по душе. С чем бы вы решили носить этот новомодный и оригинальный аксессуар? Кстати сказать, идентичный оному аксессуар можно сделать своими собственными руками. Достаточно пришить сеточку на самую обычную трикотажную, или какую-либо другую шапочку. А головные уборы которые производятся на нашей фабрике будут хорошей основой для этого. Посмотрите наш каталог мужских головных уборов из трикотажа. Такой новомодный аксессуар может подойти практически под всё. Под любой стиль одежды. Одной из прелестей такой шапочки является то, что она универсальная. Её можно носить как весной и осенью, так летом и, главное, зимой. Ведь взяв за основу облёгчённую, или наоборот – шапочку зимнюю и приделав к ней сетку можно всегда оставаться в моде, в любой сезон. Так что такую шапочку можно назвать, чуть ли не гениальной. Такой головной убор можно носить с платьем по фигуре, с различными туфлями, любой верхней одеждой. Самое приятное – что этот тренд очень просто соорудить самому.'

				<!-- BEGIN clients -->
				section.clients.gray-block
					.container
						.clients__title= 'Наши корпоративные клиенты'
						// слайдер-контейнер
						.slider.slider--full
							// слайдер
							- var n = 0
							.gallery.js-flickity(data-flickity-options='{ "freeScroll": false, "wrapAround": true, "pageDots": false}')
								while n < 3
									.gallery-cell.slider__item
										.clients-wrap
											img.gray-scale(src="images/content/clients/1.jpg", alt="")
											img.color(src="images/content/clients/1-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/2.jpg", alt="")
											img.color(src="images/content/clients/2-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/3.jpg", alt="")
											img.color(src="images/content/clients/3-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/4.jpg", alt="")
											img.color(src="images/content/clients/4-2.jpg", alt="")
									- n++
				<!-- END clients -->
			<!-- END content -->
		<!-- END pagewrap -->
		
		include /blocks/footer.jade