-var title= 'YSG - магазин шапок'
doctype html
html
	head
		include /blocks/links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header.jade
			<!-- BEGIN content -->
			.content
				.container
					ul
						li
							a(href="index.html")= 'Главная'
						li
							a(href="index-reg-user.html")= 'Главная - обычный покупатель'
						li
							a(href="index-reg-user2.html")= 'Главная - авторизованный пользователь'
						li
							a(href="collection.html")= 'Весенняя коллекция шапок'
						li
							a(href="collection2.html")= 'Детские шапки'
						li
							a(href="catalog.html")= 'Каталог'
						li
							a(href="registration.html")= 'Регистрация оптового покупателя'
						li
							a(href="news-articles.html")= 'Статьи и новости'
						li
							a(href="article-detail.html")= 'Статьи - детальная'
						li
							a(href="news-detail.html")= 'Новости - детальная'
						li
							a(href="about.html")= 'О компании'
						li
							a(href="shipping.html")= 'Доставка и оплата'
						li
							a(href="how-to-order.html")= 'Как закзаать'
						li
							a(href="catalog-category.html")= 'Каталог - категория'
						li
							a(href="catalog-detail.html")= 'Детальная товара'
						li
							a(href="bascket.html")= 'Корзина'
						li
							a(href="lk.html")= 'Личный кабинет'
						li
							a(href="lk-balance.html")= 'Личный кабинет - Мой счет'
						li
							a(href="lk-orders.html")= 'Личный кабинет - Заказы'
						li
							a(href="contacts.html")= 'Контакты'
						li
							a(href="landing.html")= 'Лендинг'
			<!-- END content -->
		<!-- END pagewrap -->
		include /blocks/footer.jade