-var title= 'YSG - магазин шапок'
doctype html
html
	head
		include /blocks/links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header-reg-user.jade
			<!-- BEGIN content -->
			.content
				.container
					h1.main-title.main-title--to-main-side= 'Регистрация оптового покупателя'
					.columns-wrap.clearfix
						aside.aside-part
							.catalog.aside-widget
								.catalog-icon
									| <svg class="icon icon-menu"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-menu"></use></svg>
								a.catalog-title(href="", title="")= 'Каталог'
								ul.catalog-list.list
									each val in ['Новости', 'Распродажа', 'Шапки для мужчин', 'Шапки для женщин', 'Молодежные шапки', 'Детские шапки', 'Весенняя коллеция', 'Аксессуары и атрибутика']
										li.list__item
											.list-icon
												| <svg class="icon icon-right-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-right-arrow"></use></svg>
											a.catalog__link(href="", title="")= val
							.aside-widget.news-aside
								a.sub-title(href="", title="")= 'Новости'
								.news-aside__item
									a.news-aside__title(href="", title="")= 'Запуск новой версии сайта!'
									.news-desc.c-limit-text(data-length="70")= 'Компания YSG представляет обновленную версию сайта. Новые коллекции Компания YSG представляет обновленную версию сайта'
									.news-date
										.date-icon
											| <svg class="icon icon-calendar"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-calendar"></use></svg>
										span= '28.07.2015'
									a.detail-link(href="", title="")= 'Подробнее'
							
						.main-part.detail-article
							.editable-text.justify-text
								p= 'Здесь будет текст о регистрации и о том, что она дает. Всего несколько предложений и не больше. Здесь будет текст о регистрации и о том, что она дает. Всего несколько предложений и не больше. Здесь будет текст о регистрации и о том, что она дает. Всего несколько предложений и не больше. Здесь будет текст о регистрации и о том, что она дает. Всего несколько предложений и не больше. Здесь будет текст о регистрации и о том, что она дает. Всего несколько предложений и не больше.'

							hr
							.registration-form
								form(action="", method="")
									.input-line.t-inline
										input.form-input(type="text", name="email", placeholder= "Введите e-mail*:", data-validation="email", data-validation-error-msg="Введите корректны e-mail или заполните поле")
									.input-line.t-inline
										input.form-input(type="password", name="pass", placeholder= "Введите пароль*:", data-validation="required", data-validation-error-msg="Заполните обязательное поле")
									.input-line.t-inline
										input.form-input(type="text", name="phone", placeholder= "Введите телефон*:", data-validation="number", data-validation-error-msg="Введите номер телефона (разрешены только цифры)")
									.input-line.t-inline
										input.form-input(type="password", name="pass2", placeholder= "Подтвердите пароль*:", data-validation="required", data-validation-error-msg="Заполните обязательное поле"	)
									input.btn.btn--full-blue(type="submit", value="Зарегистрироваться")


				<!-- BEGIN clients -->
				section.clients.gray-block
					.container
						.clients__title= 'Наши корпоративные клиенты'
						// слайдер-контейнер
						.slider.slider--full
							// слайдер
							- var n = 0
							.gallery.js-flickity(data-flickity-options='{ "freeScroll": false, "wrapAround": true, "pageDots": false}')
								while n < 3
									.gallery-cell.slider__item
										.clients-wrap
											img.gray-scale(src="images/content/clients/1.jpg", alt="")
											img.color(src="images/content/clients/1-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/2.jpg", alt="")
											img.color(src="images/content/clients/2-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/3.jpg", alt="")
											img.color(src="images/content/clients/3-2.jpg", alt="")
										.clients-wrap
											img.gray-scale(src="images/content/clients/4.jpg", alt="")
											img.color(src="images/content/clients/4-2.jpg", alt="")
									- n++
				<!-- END clients -->
			<!-- END content -->
		<!-- END pagewrap -->
		
		include /blocks/footer.jade